<div class="tab-pane active" id="vtab1">
	<div class="form-group">
		<div class="col-sm">
			<input type="text" name="course_name" class="form-control"
			 placeholder="カリキュラム名" required="" maxlength="100">
		</div>
	</div>

	<div class="form-group">
		<div class="col-sm-6">
			<input type="text" id="duration" name="duration" class="form-control"
				 placeholder="デュレーション" maxlength="2" required="">

		</div>
		<div class="col-sm-6">
			<select class="form-control" name="duration_type">
				<option value="Week">週</option>
				<option value="Month">月</option>
				<option value="Year">年</option>
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
			<span id="parentId" hidden="false"></span>
			<select id="listCategories" hidden="false">
				{% if listCategory %}
					{% for category in listCategory %}
						{% if  category.isparent == '0' %}
							<option isparent="{{ category.id}}" anc="{{category.parentCategory.id}}" value="{{ category.id }}">{{category.categoryName}}</option>
						{% endif %}
					{% endfor %}
				{% endif %}
			</select>
			<select onChange="delivery(this)" name="parentCategory" id="ddlViewBy" class="form-control" required="">
				{% if listCategory %}
					{% for category in listCategory %}
						{% if  category.isparent == '1' %}
							{% if  parentCategory and category.id|truncatechars:100 == parentCategory %}
								<option value="{{ category.id }}" selected>{{category.categoryName}}</option>
							{% else %}
								<option value="{{ category.id }}">{{category.categoryName}}</option>
							{% endif %}
						{% endif %}
					{% endfor %}
				{% endif %}
			</select>
		</div>
		<div class="col-sm-6">
			<select name="childrenCategory" id="childrenCategory" title="一度選択してください " class="form-control" required="">
				{% if listCategory %}
					{% for category in listCategory %}
						{% if  category.isparent == '0'%}
							<option value="{{ category.id }}">{{category.categoryName}}</option>
						{% endif %}
					{% endfor %}
				{% endif %}
			</select>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm-6">
			<div class="input-group">
				<input type="text" name="start_date" class="form-control" 
					 placeholder="開始日" id="startdate" required="">
				<span class="input-group-addon"><i
					class="fa fa-calendar"></i></span>
			</div>
		</div>
		<div class="col-sm-6">
			<div class="input-group">
				<input type="text" name="end_date" class="form-control"
					placeholder="終了日" id="enddate" required=""> <span
					class="input-group-addon"><i class="fa fa-calendar"></i></span>
			</div>
		</div>
	</div>
	<div class="form-group">
		<div class="col-sm">
		<textarea name="curriculumn_description" class="form-control"
			 placeholder="説明" rows="2" required=""> </textarea>
		</div>
	</div>
</div>