<div class="tab-pane mainpanel " id="vtab2">
	<div class="row">
		<div class="col-sm-3">
			<div class="panel panel-default">
				<div class="panel-heading" style="height: 286px;margin-top: 1px;">
					<div class="col-sm-9">
						<span>リスト材料</span>
						<input type="" id="numberMaterial" name="numberMaterial" value="0" hidden="false">
						<input type="" id="numberMaterialShow"  value="0" hidden="false">
						<input type="" id="currentNumberMaterial"  value="0" hidden="false">
						<input type="" id="showCreatenewMaterial"  value="0" hidden="false">
						<input type="" id="saveMaterialHidden"  value="Save" hidden="false">
					</div>
					<div class="col-sm-9" id="listMaterial" style="width: 100%;height: 220px; overflow-y:auto;overflow-x: visible;margin-top: 5px;">
					
					</div>
				</div>
			</div><!-- panel-default -->
		</div><!-- col-md-3 -->
		<div class="col-sm-9">
			<div class="panel panel-default">
				<div class="panel-heading" style="min-height: 279px;margin-top: 1px;">
					<div class="form-group">
						<div class="col-sm-12">
							<input id="material_title" type="text" name="material_title"
								class="form-control" 
								placeholder="素材名" required="">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8">
							<select id="material_type" name="material_type" class="form-control">
								<option value="Book" selected>本</option>
								<option value="Video">ビデオ</option>
								<option value="Document">ドキュメント</option>
							</select>
						</div>
						<div class="col-sm-4" style="margin-top: 8px;">
							<span>(例：ブック、ビデオ、ドキュメント...)</span>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<input type="text" id="material_url" name="material_url" class="form-control"
								 placeholder="素材  url" required="">
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<textarea class="col-sm-12" id="material_description" name="material_description" rows="1" placeholder="説明" style="height: 35px;" required=""></textarea>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-12">
							<ul class="pager" style="border-top: none !important;background: white !important;padding: 0px !important;width: 70px;float: right;">
								 <li style="float: right;" id="showAdd"><a href="#" id="addMaterial" onclick="addMaterial();">加える</a></li>
							</ul>
						</div>
					</div>
					
				</div>
			</div><!-- panel-default -->
		</div><!-- col-md-9 -->
	</div>
</div>