<!-- Modal -->
<div class="modal fade" id="addlink" tabindex="-1" role="dialog"
	aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal"
					aria-hidden="true">&times;</button>
				<h4 class="modal-title" id="myModalLabel">Add new photo</h4>
			</div>

			<!-- Start block -->
			<div class="col-sm">
			<FORM method="get"
				action="http://www.amazon.com/exec/obidos/external-&return;search">
				<INPUT type="hidden" name="tag" value="onfocus"> Search:<br>
				<SELECT NAME="mode">
					<OPTION VALUE="blended" selected>All Products
						<OPTION VALUE="books">Books
					<OPTION VALUE="magazines">Magazines
					<OPTION VALUE="music">Popular Music
					<OPTION VALUE="classical-music">Classical Music
					<OPTION VALUE="vhs">Video
					<OPTION VALUE="dvd">DVD
					<OPTION VALUE="toys">Toys & Games
					<OPTION VALUE="baby">Baby
					<OPTION VALUE="videogames">Computer & Video Games
					<OPTION VALUE="electronics">Electronics
					<OPTION VALUE="software">Software
					<OPTION value="tools">Tools & Hardware
					<OPTION VALUE="garden">Outdoor Living
					<OPTION VALUE="kitchen">Kitchen & Housewares
					<OPTION VALUE="photo">Camera & Photo
					<OPTION VALUE="wireless-phones">Wireless Phones
				</SELECT>
					<br><br>Keywords:<br>
				<INPUT type="text" name="keyword" size="10" value="">
				<INPUT TYPE="submit" VALUE="Search Amazon">
			</FORM>
			</div>
		<!-- End of block -->
						<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				<button type="button" class="btn btn-primary"
								onclick="createpost();">Save</button>
			</div>
		
					</div>
		<!-- modal-content -->
	</div>
	<!-- modal-dialog -->
</div>
<!-- modal -->