<div class="col-sm">
	<div class="people-item">
		<div class="media">
			<a href="#" class="pull-left"> <img alt=""
				src="images/photos/user4.png" class="thumbnail media-object">
			</a>
			<div class="media-body">
				<h4 class="person-name">{{ user.username }}</h4>
				<div class="text-muted">
					<i class="fa fa-map-marker"></i> Ha Noi City, Viet Nam
				</div>
				<div class="text-muted">
					<i class="fa fa-briefcase"></i> CRO at <a href="#">EAS, Inc.</a>
				</div>
				<ul class="social-list">
					<li><a href="#" class="tooltips" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Email"><i
							class="fa fa-envelope-o"></i></a></li>
					<li><a href="#" class="tooltips" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Facebook"><i
							class="fa fa-facebook"></i></a></li>
					<li><a href="#" class="tooltips" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Twitter"><i
							class="fa fa-twitter"></i></a></li>
					<li><a href="#" class="tooltips" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="LinkedIn"><i
							class="fa fa-linkedin"></i></a></li>
					<li><a href="#" class="tooltips" data-toggle="tooltip"
						data-placement="top" title="" data-original-title="Skype"><i
							class="fa fa-skype"></i></a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
{% include 'myapp/listoflecture.html' %}
