{% if user.id|truncatechars:100 == user_id %}
	{% include "myapp/add-curriculumn.html"%}
{% else %}
	{% include "myapp/joincourse.html"%}
{% endif %}
<div class="row">

	<div class="col-sm-6 col-md-3">
		<div class="panel panel-success panel-stat">
			<div class="panel-heading">
				{% if user.id|truncatechars:100 != user_id %}
				<div class="stat">
					<div class="row">
						<div class="col-xs-4">
							<img src="images/photos/user4.png" alt="" style="width:56px;">
						</div>
						<div class="col-xs-8">
							<small class="stat-label">Mentor:</small>
							<h3>{{ author }}</h3>
						</div>
					</div>
					<!-- row -->

					{% if cl.mentor.user.id == user.id %}
						{% include "myapp/add-material.html"%}
						<div class="row" style="text-align: center; margin-left: 0px; margin-right: 0px;">
							<button class="btn btn-default btn-block" data-toggle="modal" data-target="#add-material">Add new material </button>
						</div>
					<!-- row -->
					{% elif is_joined %}
					<div class="row" style="text-align: center; margin-left: 0px; margin-right: 0px;">
						{{ user.username }} back to course! 
					</div>
					{% else %}
					<div class="row" style="text-align: center;">
						<div class="col-xs-6">
							<small class="stat-label">Like</small>
							<h4> {{clTaken}}</h4>
						</div>
						<div class="col-xs-6">
							<small class="stat-label">Comment</small>
							<h4>{{clLike}}</h4>
						</div>
					</div>
					{% endif %}
				</div>
				<!-- stat -->
				{% else %}
				<div class="stat">
					<div class="row">
						<div class="col-xs-4">
							<img src="images/photos/user4.png" alt="" style="width:56px;">
						</div>
						<div class="col-xs-8">
							<small class="stat-label"> 素材を追加 ?</small>
							<h3>{{ user.username }}</h3>
						</div>
					</div>
					<div class="mb15"></div>
					<div class="row" style="text-align: center; margin-left: 0px; margin-right: 0px;">
						<button class="btn btn-default btn-block" data-toggle="modal" data-target="#add-new-course">素材を追加</button>
					</div>
				</div>
				{% endif %}
			</div>
			<!-- panel-heading -->
		</div>
		<!-- panel -->
	</div>
	<!-- col-sm-6 -->

	<div class="col-sm-6 col-md-3">
		<div class="panel panel-danger panel-stat">
			<div class="panel-heading">

				<div class="stat">
					<div class="row">
						<div class="col-xs-4">
							<img src="images/is-document.png" alt="">
						</div>
						<div class="col-xs-8">
							<small class="stat-label">Number of Curriculumn</small>
							<h1>{{cl|length}}</h1>
						</div>
					</div>
					<!-- row -->

					<div class="mb15"></div>

					<div class="row" style="text-align: center;">
						<div class="col-xs-6">
							<small class="stat-label">Taken</small>
							<h4> {{clTaken}}</h4>
						</div>

						<div class="col-xs-6">
							<small class="stat-label">Liked</small>
							<h4>{{clLike}}</h4>
						</div>
					</div>

				</div>
				<!-- stat -->

			</div>
			<!-- panel-heading -->
		</div>
		<!-- panel -->
	</div>
	<!-- col-sm-6 -->

	<div class="col-sm-6 col-md-3">
		<div class="panel panel-primary panel-stat">
			<div class="panel-heading">

				<div class="stat">
					<div class="row">
						<div class="col-xs-4">
							<img src="images/is-document.png" alt="">
						</div>
						<div class="col-xs-8">
							<small class="stat-label">Number of Material</small>
							<h1>{{mtTotal}}</h1>
						</div>
					</div>
					<!-- row -->

					<div class="mb15"></div>

					<div class="row" style="text-align: center;">
						<div class="col-xs-6">
							<small class="stat-label">Taken</small>
							<h4>{{ mtTaken }}</h4>
						</div>

						<div class="col-xs-6">
							<small class="stat-label">Liked</small>
							<h4>{{ mtLike }}</h4>
						</div>
					</div>

				</div>
				<!-- stat -->

			</div>
			<!-- panel-heading -->
		</div>
		<!-- panel -->
	</div>
	<!-- col-sm-6 -->

	<div class="col-sm-6 col-md-3">
		<div class="panel panel-dark panel-stat">
			<div class="panel-heading">

				<div class="stat">
					<div class="row">
						<div class="col-xs-4">
							<img src="images/is-document.png" alt="">
						</div>
						<div class="col-xs-8">
							<small class="stat-label">Number of Action todo</small>
							<h1>{{actTotal}}</h1>
						</div>
					</div>
					<!-- row -->

					<div class="mb15"></div>

					<div class="row" style="text-align: center;">
						<div class="col-xs-6">
							<small class="stat-label">Last Week</small>
							<h4>{{actTaken}}</h4>
						</div>

						<div class="col-xs-6">
							<small class="stat-label">Last Month</small>
							<h4>{{actLike}}</h4>
						</div>
					</div>
					<!-- row -->

				</div>
				<!-- stat -->

			</div>
			<!-- panel-heading -->
		</div>
		<!-- panel -->
	</div>
	<!-- col-sm-6 -->
</div>