{% extends "myapp/base.html" %} 
{%block content %}
<div class="contentpanel" style="margin-top: 3%; min-height: 550px;">

	<div class="row" id="ex3" style="margin-top:1%; overflow-y:scroll;background-color:lightgray;">
		<div class="col-md-11" style="height: 460px;margin-top: 20px;margin-left: 30px;">
			<H1>メンタリング契約</H1>
			<P>ここでの合意に含まれていてもよい項目のいくつかの提案です。その後、両方の、他の人とするときの配置が終了するから期待すべきか、どこにいるか知っている。 </ P>
			<H3>時間</H3>
			メンター·グラフィックス関係がいつ終了する同意<P>：3ヶ月は時間の合理的な長さになりますが、それは短くすることができ - 以上。あなたはいつもあなたの関係であれば、両方の願いを延長することを決定することができます - 再び有限の時間は最高です - あるいはただの友達として継続する。どのくらいの頻度とどのくらいあなたが会おう同意。おそらく週に一度か二度、最初は、おそらくコーヒーや昼食をとりながら、</P>
			<H3>柔軟性</H3>
			それはあなたが指導している人は特定の質問がある場合は、最大に電話またはオンと呼ばれるようにOKであるかどうか、あまりにも、同意<P>。役割の一部を安心させるためにあるので、最初はこれに同意し、それが手に負えなく取得する場合、再交渉する、おそらく良いアイデアです - これを他の会議が定期的にある場合はほとんどありません。</P>
			<H3>機密</H3>
			あなたはあなたが彼女/彼の契約をしない限り、指導している人と話し合うものを第三者に開示しないことに同意するものとし<P>。彼女/彼が要求した場合には機関の長を含め、他の人に協力関係を説明する方法に同意するものとします。</P>
			<H3>境界</H3>
			あなたが指導している人のために、また彼/彼女の正式な誘導には責任を負いません<P>。しかし、あなたは簡単に、質問に答えることの奇数小さなギャップを埋める、不安を和らげるとフレンドリーな指導を与えることができます。これは、正式な誘導過程によって残さすべてのギャップを埋めるためにあなたの仕事ではありません。</P>
			<H3>レビューと評価</H3>
			<P>配置の終了時に、戻って時間をかけて見て、うまくいったと何が異なる別の時間を行うかもしれないものをリストアップ。役割の互いの扱いに建設的に解説しています。機関の長、または誰でもあなたがそれを楽しんできた場合、あなたは再びそれを行うために準備されるかどう役割にあなたを募集して教えてください。あなたがそれを楽しんできた場合、またはあなたがそれを楽しんでいないし、それを上に話をしたい場合は、PPDを教えてください。将来の指導者や人指導されているか、このノートの改正やその他の誘導文書のための提案のための任意のヒントをそれらも教えてください。</P>
			<H3>あなたは、何かが間違っていると思われる場合</H3>
			<P>あなたの判断を使用してください。あなたはそれがすべてで可能なら、それに取り組むために指導している人をお勧めします。あなたは彼らの提唱者ではないことを忘れないでください。あなたが誰かの身体的または感情的な健康や安全が危険にさらされるかもしれないと思うなら、あなたは可能なリスクに、その人の注意を引くために、それを回避するために合理的な措置をとる義務があります。あなたは何かが当局の注意を喚起する必要があると考えられる場合は、あなたの労働組合は、匿名でそれを行うことができるかもしれません。あなたが他の誰かにしようとしている場合は、最初に指導している人と一緒に問題を議論んし、あなたが行うのでは何を考えている彼女/彼に言う。法律であなたは大学の耳と見なすことができることを忘れないでください：あなたは大学に嫌がらせのような行動をとるべきだ、その上に何かを聞いたことがある場合には、大学もそれを聞いたことがあるとみなすことができる。その後、大学が作用しない場合は、あなたがそれを開示するか、それを改善するためにあなたの責任を果たしていないため、それは意図的に、問題を無視してきたと考えてよい。</P>
		</div>
	</div>
	<div class="row" style="margin-top: 30px;width:1000px;margin-left: 12%">
		<div class="col-md-11" style="float: right;">
			<form class="" action="become-mentor" method="post">
				{% csrf_token %}
				<button class="btn btn-primary" style="float: right;">同意する</button>
			</form>
			<button type="reset" class="btn btn-default" style="float: right;margin-right: 8px;" onClick="location.href='student-home'">キャンセル</button>
		</div>
	</div>
</div> <!-- End of content panel -->
{% endblock content%}
