<div class="panel panel-default" style="margin-top: 1% !important;text-align: left !important;">
        <div class="panel-body panel-body-nopadding">
          <form style="margin-top: 1% !important;">
            <div class="col-sm-6">
            <div class="input-group mb15">
              <div class="input-group-btn">
              <button type="button" class="btn btn-default" tabindex="-1" choosedProgressId="" id="showProgress" style="min-width: 252px;text-align: left;">進捗状況を選択してください</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                  <span class="caret" id="showCurriLog"></span>
                </button>
                {% if flag == '1' %}
	                <ul class="dropdown-menu" role="menu" id="listProcess" style="min-width: 252px;">
						{% for progress in listProgress %}
							<li style="float: left;width: 100%;" onclick="changeProgress('{{progress.id}}','{{progress.progressName}}');"><a href="#" id="{{ progress.id }}" progressName="{{ progress.progressName }}" >{{ progress.progressName }}</a></li>
						{% endfor %}
	                </ul>
                {% endif %}
              </div>
             	<select  id="selCurriculumn" class="form-control chosen-select" data-placeholder="コースを選択してください..." style="display: none;">
				{% if listcurrilog %}
					{% for currilog in listcurrilog %}
						{% if currilog.data %}
							<option curriidd="{{ currilog.curriculumn.id }}" processName="{{ currilog.process.progressName }}" processrate="{{ currilog.process.rate }}" value="{{ currilog.process.id }}" progressId="{{ currilog.process.id }}" datalog="{{ currilog.data }}" curriid="{{ currilog.id }}">{{ currilog.curriculumn.name|truncatechars:50 }}</option>
						{% else %}
							<option curriidd="{{ currilog.curriculumn.id }}" processName="{{ currilog.process.progressName }}" processrate="{{ currilog.process.rate }}" value="{{ currilog.process.id }}" progressId="{{ currilog.process.id }}" datalog="[]" curriid="{{ currilog.id }}">{{ currilog.curriculumn.name|truncatechars:50 }}</option>
						{% endif %}
					{% endfor %}
				{% endif %}
                </select>
            </div>
          </div>
          
          <div class="col-sm-6" id="progressdiv">
            <div class="input-group mb15">
                  <div class="progress progress-striped" style="margin-top: 1%;width: 99%;">
                  	<!-- {% if firstcurrilog %}
                  		{% if firstcurrilog.process.rate %}
                   			<div id="ratebar" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: {{ firstcurrilog.process.rate }}%;"></div>
                  		{% else %}
                  			<div id="ratebar" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                  		{% endif %}
                  	{% endif %} -->
                  	<div id="ratebar" class="progress-bar" role="progressbar" aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 0%;"></div>
                  </div>
                 <div class="input-group-btn">
                <button type="button" class="btn btn-default" tabindex="-1"  id="showUpdateProgress">進捗状況を更新</button>
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" tabindex="-1">
                  <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
				{% for progress in listProgress %}
						<li style="float: left;width: 100%;" onclick="updateProgress('{{progress.id}}','{{progress.progressName}}','{{progress.rate}}');"><a href="#">{{ progress.progressName }}</a></li>
				{% endfor %}
                </ul>
              </div>
            </div>
          </div>
          
          </form>
        </div>
      </div>
<div id='wrap'>

<div id='external-events' style="width: 20%;min-height: 550px;">
<h4>カリキュラム入社</h4>
<h5 id='noResult' style="display: none;color: #3a81be;">調査ログを使用するには、その過程で、研究の進捗状況をロードするために参加しているコースを選択してください。</h5>
<h5 id='noData' style="display: none;">この時点で、我々はすべてのコースに参加しません。学習ログを使用するためには、当然に参加してください <a href="/search-mentor" > こちらをクリック  </a> 続行します</h5>
<div id="listMA">
	{% if listcurrilog %}
		{% for curriculumnLog in listcurrilog %}		
			{% for material in curriculumnLog.curriculumn.material %}
				<div class='external-event' curriId={{ curriculumnLog.curriculumn.id }}>{{ material.name|truncatechars:50}}</div>
			{% endfor %}
			{% for action in curriculumnLog.curriculumn.action %}
				<div class='external-event'  curriId={{ curriculumnLog.curriculumn.id }}>{{ action.name|truncatechars:50 }}</div>
			{% endfor %}
		{% endfor %}
	{% endif %}
</div>
<!--<button class="btn btn-primary btn-xs" onclick="" style="float: right;margin-bottom: 10px;">Save</button>-->
<!-- <input type='checkbox' id='drop-remove' /> <label for='drop-remove'>remove after drop</label> -->

</div>


<div id='calendar'></div>
	<form name = "frmCalendar" id="frmCalendar" method="POST" action="/studylog"> 
		{% csrf_token %} 
		<!-- {% if firstcurrilog %}
			<input type="hidden" id="curriculumnlog_id" name="curriculumnlog_id" value="{{ firstcurrilog.id }}"/>
		{% else %}
			<input type="hidden" id="curriculumnlog_id" name="curriculumnlog_id" value=""/>
		{% endif %} -->
		<input type="hidden" id="curriculumnlog_id" name="curriculumnlog_id" value=""/>
		<input type="hidden" name="datacontent" id="datacontent"/>
		<input type="hidden" name="formType" value="frmCalendar"/>
	</form>
	<form name = "frmProgress" id="frmProgress" method="POST" action="/studylog"> 
		{% csrf_token %} 
		<!-- {% if firstcurrilog %}
			<input type="hidden" id="curriculumnlog_progress_id" name="curriculumnlog_id" value="{{ firstcurrilog.id }}"/>
			<input type="hidden" id="progress_id" name="progress_id" value="{{ firstcurrilog.process.id }}"/>
		{% else %}
			<input type="hidden" id="curriculumnlog_progress_id" name="curriculumnlog_id" value=""/>
			<input type="hidden" id="progress_id" name="progress_id" value=0/>
		{% endif %} -->
		<input type="hidden" id="curriculumnlog_progress_id" name="curriculumnlog_progress_id" value=""/>
		<input type="hidden" id="progress_id" name="progress_id" value=0/>
		<input type="hidden" name="formType" value="frmProgress"/>
	</form>
<div style='clear:both'></div>
</div>
