<div class="modal-content">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
			aria-hidden="true">&times;</button>
		<h4 class="modal-title" id="myModalLabel">カリキュラムの作成</h4>
	</div>

	<div class="panel panel-default">
		<div class="panel-body panel-body-nopadding">

			<!-- BASIC WIZARD -->
			<div id="courseWizard" class="basic-wizard">

				<ul class="nav nav-pills nav-justified nav-disabled-click">
					<li class="active"><a href="#vtab1" data-toggle="tab"><span>ステップ
								1:</span> カリキュラムの作成</a></li>
					<li><a href="#vtab2" data-toggle="tab"><span>ステップ
								2:</span> 素材を追加  </a></li>
					<li><a href="#vtab3" data-toggle="tab"><span>ステップ
								3:</span> アクションの追加 </a></li>
				</ul>

				<form class="form" id="firstForm" novalidate="novalidate" method="post" action="/add-course">
				
					{% csrf_token %} 
					<div class="tab-content">
						<div class="progress progress-striped active">
							<div class="progress-bar" role="progressbar" aria-valuenow="45"
								aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						{% include 'myapp/add-course.html' %}
						{% include 'myapp/add-new-material.html' %}
						{% include 'myapp/add-new-action.html' %}
					</div>
					<!-- tab-content -->
				</form>
				
				<ul class="pager wizard">
					<li class="previous disabled"><a href="javascript:void(0)">前</a></li>
					<li class="next"><a href="javascript:void(0)">次</a></li>
					<!-- <li style="display:none;" id="finish" onclick="saveMaterial();"><a href="/mentor-course?user_id={{ user_id }}">Finish</a></li> -->
					<li style="display:none;" id="finish" onclick="saveMaterial();"><button class="btn btn-primary">仕上げ</button></li>
					<li class="next finish" style="display:none;" ><button class="btn btn-primary" style="float: right;">仕上げ</button></li>
					
				</ul>

			</div>
			<!-- #validationWizard -->

		</div>
		<!-- panel-body -->
	</div>

</div>
<!-- modal-content -->
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

<script src="js/bootstrap-wizard.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/jquery.numeric.js"></script>
<script src="js/custom.js"></script>


<script src="js/masonry.pkgd.min.js"></script>

<script>
	function delivery(x){
		
		var country = x.value;
		document.getElementById('parentId').innerHTML = country;
		select = document.getElementById('childrenCategory');
		for(var i=select.options.length-1;i>=0;i--)
		{
			select.remove(i);
		}
		//remove  option
		
		var ex = document.getElementById("listCategories").options;
		//window.alert(ex.length)
		for(var i=0;i<ex.length;i++)
		{
			if(ex[i].getAttribute('anc')==country)
			{
				//window.alert(ex[i].text)
				var opt = document.createElement('option');
				opt.value = ex[i].value;
				opt.innerHTML = ex[i].text;
				select.appendChild(opt);
			}
		}
	}
	function saveAction()
	{
		action_name=document.getElementById("action_name").value
		action_description=document.getElementById("action_description").value
		if(action_name.trim()==""||action_description.trim()=="")
		{
			alert('false');
		}
		if(action_name.trim()==""||action_description.trim()=="")
		{
			alert('false');
		}
	}
	function saveMaterial()
	{
		$('#material_title').removeAttr('required');
		$('#material_url').removeAttr('required');
		$('#material_description').removeAttr('required');
		document.getElementById('addMaterial').style.display="none";
		$("#firstForm").submit();
	}
	
	function addMaterial()
	{
		
		var material_title=document.getElementById("material_title").value.toString();
		var material_url =document.getElementById("material_url").value.toString();
		var material_description=document.getElementById("material_description").value.toString();
		var numberMaterial=parseInt(document.getElementById("numberMaterial").value);
		var numberMaterialShow=parseInt(document.getElementById("numberMaterialShow").value);
		if(material_title.trim()==""||material_url.trim()==""|| material_description.trim() == "")
		{
			var $valid = jQuery('#firstForm').valid();
			if(!$valid)
			{
				$validator.focusInvalid();
				return false;
			}
		}
		else
		{
			document.getElementById('finish').style.display="inline";
			if(document.getElementById('saveMaterialHidden').value=="Save change")
			{
				if(document.getElementById('currentNumberMaterial').value !="0")
				{
					index=document.getElementById('currentNumberMaterial').value;
					//set value current material selected
					document.getElementById('material_title'+index.toString()).value=document.getElementById('material_title').value;
					document.getElementById('material_type'+index.toString()).value=document.getElementById('material_type').value;
					document.getElementById('material_url'+index.toString()).value=document.getElementById('material_url').value;
					document.getElementById('material_description'+index.toString()).value=document.getElementById('material_description').value;
					
					//clear  material input
					document.getElementById('material_title').value="";
					document.getElementById('material_type').value="Book";
					document.getElementById('material_url').value="";
					document.getElementById('material_description').value="";
					//
					document.getElementById('addMaterial').innerHTML="加える";
					document.getElementById('saveMaterialHidden').value="save";
				}
			}
			else
			{
				document.getElementById('addMaterial').innerHTML="加える";
				document.getElementById('saveMaterialHidden').value="save";
				numberMaterial +=1;
				numberMaterialShow +=1; 
				document.getElementById("numberMaterial").value=numberMaterial.toString();
				document.getElementById("numberMaterialShow").value=numberMaterialShow.toString();
				//alert(document.getElementById("numberMaterial").value);
				
				//check
				if(document.getElementById('numberMaterialShow').value != "0")
				{
					$('#courseWizard').find('.pager .next').show();
				}
				else
				{
					$('#courseWizard').find('.pager .next').hide();
				}
				$('#courseWizard').find('.pager .finish').hide();
				
				var div = document.createElement("div");
				div.className ="rdio rdio-primary";
				div.id ="material"+numberMaterial.toString();
				//Assign different attributes to the element
				var radio = document.createElement("input");
				//Assign different attributes to the element
				radio.setAttribute("type", "radio");
				radio.setAttribute("id",numberMaterial.toString());
				radio.setAttribute("name", "gender");
				radio.setAttribute("value",numberMaterial.toString());
				
				lb = document.createElement("label");
				lb.setAttribute("for",numberMaterial.toString());
				lb.innerHTML ="素材 " + numberMaterial.toString();
				
				/* <a href="#" class="delete-row"><i class="fa fa-trash-o"></i></a> */
				
				var anchor=document.createElement("a");
				anchor.setAttribute('class','delete-row');
				anchor.href='#';
				anchor.style.marginTop = "4px";
				anchor.style.cssFloat = "right";
				anchor.innerHTML = '<i class="fa fa-trash-o"></i>';
				
				
				//label.htmlFor = numberMaterial.toString();
				
				
				
				var  material_title= document.createElement("input");
				material_title.setAttribute("type", "text");
				material_title.setAttribute("hidden", "false");
				material_title.setAttribute("id", "material_title"+numberMaterial.toString());
				material_title.setAttribute("name","material_title"+numberMaterial.toString());
				material_title.setAttribute("value",document.getElementById('material_title').value);
				
				var  material_type= document.createElement("input");
				material_type.setAttribute("type", "text");
				material_type.setAttribute("hidden", "false");
				material_type.setAttribute("id", "material_type"+numberMaterial.toString());
				material_type.setAttribute("name","material_type"+numberMaterial.toString());
				material_type.setAttribute("value",document.getElementById('material_type').value);
				
				var  material_url= document.createElement("input");
				material_url.setAttribute("type", "text");
				material_url.setAttribute("hidden", "false");
				material_url.setAttribute("id", "material_url"+numberMaterial.toString());
				material_url.setAttribute("name","material_url"+numberMaterial.toString());
				material_url.setAttribute("value",document.getElementById('material_url').value);
				
				var  material_description= document.createElement("input");
				material_description.setAttribute("type", "text");
				material_description.setAttribute("hidden", "false");
				material_description.setAttribute("id", "material_description"+numberMaterial.toString());
				material_description.setAttribute("name","material_description"+numberMaterial.toString());
				material_description.setAttribute("value",document.getElementById('material_description').value);
				
				var  material_hide= document.createElement("input");
				material_hide.setAttribute("type", "text");
				material_hide.setAttribute("hidden", "false");
				material_hide.setAttribute("id", "material_hide"+numberMaterial.toString());
				material_hide.setAttribute("name","material_hide"+numberMaterial.toString());
				material_hide.setAttribute("value","0");
				
				
				div.appendChild(radio);
				div.appendChild(lb);
				div.appendChild(anchor);
				
				div.appendChild(material_title);
				div.appendChild(material_type);
				div.appendChild(material_url);
				div.appendChild(material_description);
				div.appendChild(material_hide);
				
				var container = document.getElementById('listMaterial');
				container.appendChild(div);
				//event
				radio.onclick = function()
				{
					document.getElementById('addMaterial').innerHTML="保存";
					document.getElementById('saveMaterialHidden').value="Save change";
					
					IdDivSelected=div.getAttribute("id");
					var index = IdDivSelected[IdDivSelected.length-1];
					//curentMaterial selected
					document.getElementById('currentNumberMaterial').value=index.toString();
					//set material input
					document.getElementById('material_title').value=document.getElementById('material_title'+index.toString()).value;
					document.getElementById('material_type').value=document.getElementById('material_type'+index.toString()).value;
					document.getElementById('material_url').value=document.getElementById('material_url'+index.toString()).value;
					document.getElementById('material_description').value=document.getElementById('material_description'+index.toString()).value;
				};
				anchor.onclick = function()
				{
					IdDivSelected=div.getAttribute("id");
					var index = IdDivSelected[IdDivSelected.length-1];
					if (confirm('あなたが削除してもよろしいですか ?')) 
					{
						//$( "div" ).remove( "#material"+index.toString());
						$("#material"+index.toString()).hide();
						document.getElementById('material_hide'+index.toString()).value="1";
						
						number = parseInt(document.getElementById("numberMaterialShow").value);
						number -=1;
						document.getElementById("numberMaterialShow").value=number.toString();
						
						
						if (document.getElementById("numberMaterialShow").value == "0")
						{
							document.getElementById('finish').style.display="none";
						}
						else
						{
							document.getElementById('finish').style.display="inline";
						}
						//check
						if(document.getElementById('numberMaterialShow').value != "0")
						{
							$('#courseWizard').find('.pager .next').show();
						}
						else
						{
							$('#courseWizard').find('.pager .next').hide();
						}
						$('#courseWizard').find('.pager .finish').hide();
						
						//clear  material input
						document.getElementById('material_title').value="";
						document.getElementById('material_type').value="Book";
						document.getElementById('material_url').value="";
						document.getElementById('material_description').value="";
						
						document.getElementById('addMaterial').innerHTML="加える";
						document.getElementById('saveMaterialHidden').value="save";
					} 
					else 
					{
						
					}
					
				}
				//clear  material input
				document.getElementById('material_title').value="";
				document.getElementById('material_type').value="Book";
				document.getElementById('material_url').value="";
				document.getElementById('material_description').value="";
			}
		}
	}
</script>