<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.png" type="image/png">

<title>Ex-artisan Admin System</title>

<link href="css/style.default.css" rel="stylesheet">
<link href="css/ase-style.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status">
			<i class="fa fa-spinner fa-spin"></i>
		</div>
	</div>
	<section>

		<div class="signuppanel">
			<div class="row">
				<div class="col">
					<div style="float: inherit;">
						<h3 class="panel-title" >ADULT SOCIAL EDUCATION</h3>
						<br>
					</div>
					<div class="panel panel-default panel-alt widget-messaging">
						<div class="panel-heading" style="background: #333;color: #fff">
							<h3 class="panel-title" style="color: #fff">Create Profile</h3>
							<small>Fill information</small>
						</div>
						<form style="border: none;" method="post" onsubmit="return validateForm()">
							<div class="panel-body" >
								{% csrf_token %}
									<div class="row mb10">
										<label for="" class="error" id="lblError">{{error_message}}</label>
									</div>
								<input type="hidden" value="{{ acccount_type }}" name="acccount_type">
								<div class="row mb10">
									<div class="col-sm-6">
										<label class="control-label">Job title</label>
										<select id="slJobTitle"name="slJobTitle" class="form-control chosen-select" data-placeholder="Choose a Job" >
										<option value="0" selected>Choose a Job</option>
										{% for job in job_titles %}
											<option value="{{ job.id }}">{{ job.name }}</option>
										{% endfor %} 
										</select>
										
									</div>
									<div class="col-sm-6">
										<label class="control-label">Work field</label> 
										<select id="slWorkField"name="slWorkField" class="form-control chosen-select" data-placeholder="Choose a work field">
										<option value="0" selected>Choose a work field</option>
										{% for work_field in work_fields %}
											<option value="{{ work_field.id }}">{{ work_field.type_name }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="mb10">
									<label class="control-label">Company</label> 
									<input id="txtCompany" name = "txtCompany"class="form-control" type="text" placeholder="Company"/>
								</div>
								<div class="mb10">
									<label class="control-label">About</label> 
									<textarea id="txtAbout" name = "txtAbout" class="form-control" placeholder="About"></textarea>
								</div>
								<div class="row mb10">
									<div class="col-sm-6">
										<button class="btn btn-success btn-block">Create profile</button>
									</div>
									<div class="col-sm-6">
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="signup-footer" style="padding-top: 5px; margin-top: 5px">
					<div class="pull-left">© 2014. All Rights Reserved.</div>
					<div class="pull-right">
						Created By: <a href="http://ex-artisan.com" target="_blank">Ex-artisan</a>
					</div>
				</div>
			</div>
			
		</div>
		
	</section>


	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/retina.min.js"></script>

	<script src="js/chosen.jquery.min.js"></script>

	<script src="js/custom.js"></script>
	<script>
    jQuery(document).ready(function(){
        
        // Chosen Select
        jQuery(".chosen-select").chosen({
            'width':'100%',
            'white-space':'nowrap',
            disable_search_threshold: 10
        });
        
    });
    function validateForm()
    {
    if(document.querySelector('#slJobTitle').selectedIndex==0)
    {
    	document.querySelector('#lblError').innerHTML = "You must choose Job title";
    	return false;
    }
    if(document.querySelector('#slWorkField').selectedIndex==0)
    {
    	document.querySelector('#lblError').innerHTML = "You must choose Work field";
    	return false;
    }
    if(document.querySelector('#txtCompany').value.trim()=="")
    {
    	document.querySelector('#lblError').innerHTML = "Company can not be empty!";
    	return false;
    }
    if(document.querySelector('#txtAbout').value.trim()=="")
    {
    	document.querySelector('#lblError').innerHTML = "About can not be empty!";
    	return false;
    }
    return true;
    }
</script>

</body>
</html>
