{% extends "myapp/base.html" %} {% block content %}
<div class="mainpanel" style="margin-top: 61px; min-height: 1000px;">
	<!-- ROW -->
	<div class="row" style="margin-top: -2%;">
		<div class="col-xs-6 col-sm-6 col-md-6"style="margin-top: 2%;" >
			<div class="table-responsive">
				<div class="panel-heading" style="height: 40px !important;padding-top: 10px !important;padding-left: 6px !important">
				<h4 class="panel-title">Thông tin khách hàng</h4>
				</div>
				<table class="table table-hover mb30" style="min-height: 191px !important;">
					<tbody>
						<tr>
							<td style="width: 12%;">Mã K/H: </td>
							<td>
								<div class="form-group" style="margin-bottom: 0px !important;">
									<div class="col-sm-6" style="float: left;">
										<select class="form-control chosen-select" data-placeholder="Choose a Country..." id="selCusCode">
											{% if lsCusomer %}
												{% for cus in lsCusomer %}
													<option cus_id="{{ cus.id}}" cus_name="{{ cus.full_name}}" cus_address="{{ cus.address }}" value="United States">{{ cus.cus_code }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>
									<div class="col-sm-6" id="divCusName"></div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="width: 12%;">CMTND|SĐT: </td>
							<td>
								<div class="form-group" style="margin-bottom: 0px !important;">
									<div class="col-sm-6" style="float: left;">
										<select class="form-control chosen-select" data-placeholder="Choose a Country..." id="selCusIdNo">
											{% if lsCusomer %}
												{% for cus in lsCusomer %}
													<option cus_id={{ cus.id}} cus_name="{{ cus.full_name}}" cus_address="{{ cus.address }}" value="United States">{{ cus.id_no }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>
									<div class="col-sm-6" style="float: left;">
										<select class="form-control chosen-select" data-placeholder="Choose a Country..." id="selCusphone">
											{% if lsCusomer %}
												{% for cus in lsCusomer %}
													<option cus_id={{ cus.id}} cus_name="{{ cus.full_name}}" cus_address="{{ cus.address }}" value="United States">{{ cus.fone_number }}</option>
												{% endfor %}
											{% endif %}
										</select>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="width: 12%;">Địa Chỉ: </td>
							<td><div class="col-sm-12" id="divCusAddress"></div></td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->
		</div>
		<!-- col-md-6 -->
	
		<div class="col-xs-6 col-sm-6 col-md-6" style="margin-top: 2%;">
			{% if type == 'chovay' %}
				<form id="form_cus_loan" novalidate="novalidate" action="/newCusDebit" method="post">
					{% csrf_token %}
					<div class="table-responsive">
						<div class="panel-heading" style="height: 40px !important;padding-top: 10px !important;padding-left: 6px !important">
						<h4 class="panel-title">Nhập thông tin: ngày vay,lãi xuất,chu kỳ,số tiền vay</h4>
						</div>
						<table class="table table-hover mb30" style="min-height: 191px !important;">
							<tbody>
								<tr>
									<td style="height: 36px !important;">
										<div class="form-group" style="margin-bottom: 0px !important;">
											<div class="input-group col-sm-4" style="float: left;">
												<input type="text" class="form-control" required=""
													placeholder="Ngày vay" id="startDate" name="cus_loan_date" required=""> <span
													class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
											<div class="input-group col-sm-4" style="float: left; padding-left: 5px;">
												<input type="text" name="cus_rate" class="form-control" id="cusRate" maxlength="10" required="" value="" placeholder="Lãi xuất(vd: 2.000)">
												<span class="input-group-addon"><i class="fa fa-money" ></i></span>
											</div>
											<div class="input-group col-sm-4" style="float: left; padding-left: 5px;">
												<input type="text" name="cus_cycle" class="form-control tooltips" id="cusCycle" maxlength="2" required="" value="" placeholder="Chu kì(vd: 15 ngày)">
												<span class="input-group-addon">ngày</span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td style="height: 36px !important;">
										<div class="form-group" style="margin-bottom: 0px !important;">
											<div class="input-group col-sm" style="float: left;">
												<input type="text" name="cus_debit" class="form-control" id="cusAmount" maxlength="15" required="" placeholder="Nhập số tiền ...">
												<label id="lbcusAmount" style="display: none;" class="error"></label>
												<span class="input-group-addon"><i class="fa fa-money" ></i></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="form-group" style="margin-bottom: 0px !important;">
											<button class="btn btn-primary" style="float: right;" onclick="SaveLoan();">Lưu</button>
											<button type="reset" class="btn btn-default" style="float: right;margin-right: 10px;">Xóa</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<input type="hidden" value="cusLoan" name="type">
					<input type="hidden" value="" id="hd_cus_amount" name="hd_cus_amount">
					<input type="hidden" value="" id="hd_cus_rate" name="hd_cus_rate">
					<input type="hidden" value="" id="hd_cus_id" name="hd_cus_id">
				</form>
			{% elif type == 'trano' %}
				<form id="form_cus_payment" novalidate="novalidate" action="/paymentCusDebit" method="post">
					{% csrf_token %}
					<div class="table-responsive">
						<div class="panel-heading" style="height: 40px !important;padding-top: 10px !important;padding-left: 6px !important">
						<h4 class="panel-title">Thông tin B....</h4>
						</div>
						<table class="table table-hover mb30" style="min-height: 191px !important;">
							<tbody>
								<tr>
									<td style="height: 36px !important;">
										<div class="form-group" style="margin-bottom: 0px !important;">
											<div class="input-group col-sm" style="float: left;">
												<input type="text" class="form-control" required=""
													placeholder="計画開始日" id="startDatePayment" name="cus_payment_date_payment" required=""> <span
													class="input-group-addon"><i class="fa fa-calendar"></i></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td style="height: 36px !important;">
										<div class="form-group" style="margin-bottom: 0px !important;">
											<div class="input-group col-sm" style="float: left;">
												<input type="text" name="cus_debit_payment" class="form-control" id="cusAmountPayment" maxlength="15" required="" placeholder="Nhập số tiền trả ...">
												<label id="lbcusAmountPayment" style="display: none;" class="error"></label>
												<span class="input-group-addon"><i class="fa fa-money" ></i></span>
											</div>
										</div>
									</td>
								</tr>
								<tr>
									<td>
										<div class="form-group" style="margin-bottom: 0px !important;">
											<button class="btn btn-primary" style="float: right;" onclick="SavePayment();">Trả</button>
											<button type="reset" class="btn btn-default" style="float: right;margin-right: 10px;">Xóa</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</div>
					<input type="hidden" value="cusPayment" name="type">
					<input type="hidden" value="" id="hd_cus_amount_payment" name="hd_cus_amount_payment">
				</form>
			{% else %}
				<h5 class="subtitle mb5">Customner's Debit Informations</h5>
				<div class="table-responsive">
					<table class="table table-bordered mb30" style="min-height: 335px !important;">
						<tbody>
							<tr style="background: #1caf9a;color: #fff;">
								<th>Summarize</th>
								<th>Start Date</th>
								<th><a href="#" style="color: #fff;">21/07/2014</a></th>
							</tr>
							<tr>
								<td>Ticket 01</td>
								<td>08/01/2014</td>
								<td>70000000</td>
							</tr>
							<tr>
								<td>Ticket 02</td>
								<td>08/01/2014</td>
								<td>70000000</td>
							</tr>
							<tr>
								<td>Ticket 03</td>
								<td>08/01/2014</td>
								<td>70000000</td>
							</tr>
							<tr>
								<th>Total Debit</th>
								<th></th>
								<th><span style="color: red;">210000000</span></th>
							</tr>
						</tbody>
					</table>
				</div>
				<!-- table-responsive -->
			{% endif %}
		</div>
		<!-- col-md-6 -->
	
	</div>
	<!-- END ROW -->
	<!-- ROW -->
	<div class="row">
		<div class="col-xs-2 col-sm-2 col-md-2">
			<div class="leftpanelinner">
				<h5 class="subtitle mb5">Tickets</h5>
				<ul class="nav nav-pills nav-stacked nav-bracket">
				{% for cus_debit in lsCusDebit %}
					<li cus_id="{{ cus_debit.cus_id.id }}"><a href="#"><i class="fa fa-suitcase"></i><span>Ticket({{ cus_debit.loan_date}})</span></a></li>
				{% endfor %}
				</ul>
			</div>
		</div>
		<!-- col-md-6 -->
	
		<div class="col-xs-10 col-sm-10 col-md-10">
			<h5 class="subtitle mb5">Ticket 01</h5>
			<div class="table-responsive">
				<table class="table table-hover mb30">
					<thead>
						<tr>
							<th style="width: 1%;text-align: left;">STT</th>
							<th style="width: 5%;text-align: left;">From Date</th>
							<th style="width: 5%;text-align: left;">To Date</th>
							<th style="width: 5%;text-align: left;">Rate</th>
							<th style="width: 5%;text-align: left;">Start of Cycle</th>
							<th style="width: 5%;text-align: left;">Days</th>
							<th style="width: 5%;text-align: left;">Amount</th>
							<th style="width: 5%;text-align: left;">Payment</th>
							<th style="width: 5%;text-align: left;">End of Cycle</th>
						</tr>
					</thead>
					<tbody style="overflow-y: scroll; overflow-x: hidden; height: 100px;">
						<tr>
							<td>1</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td>
								<a href="#" id="bbbbb" onclick="onChangeRate();" style="color: #428bca !important;">1000</a>
								<input type="text" id="aaaaa" name="" value="1000" style="display: none;color: #428bca;width: 80px;" onkeydown="if (event.keyCode == 13) onSaveChange();" maxlength="5" required="">
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>2</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;"><a href="#" >1000</a></td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>3</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;">
							<a href="#">1000</a> 
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>4</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;">
							<a href="#">1000</a> 
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>5</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;">
							<a href="#">1000</a> 
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>6</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;">
							<a href="#">1000</a> 
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>7</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;">
							<a href="#">1000</a> 
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
						<tr>
							<td>8</td>
							<td>08/01/2014</td>
							<td><a href="#">08/02/2014</a></td>
							<td class="currency" style="color: #428bca !important;">
							<a href="#">1000</a> 
							</td>
							<td class="currency">50000000</td>
							<td>31</td>
							<td class="currency">155000000</td>
							<td>-</td>
							<td class="currency">5155000000</td>
						</tr>
					</tbody>
				</table>
			</div>
			<!-- table-responsive -->
		</div>
		<!-- col-md-6 -->
	</div>
	<!-- END ROW -->
</div>
{% endblock %}
{% block scripts %}
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/jquery-ui-1.10.3.min.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	
	<script src="js/bootstrap-wizard.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.maskedinput.min.js"></script>
	<script src="js/jquery.numeric.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/jquery.formatCurrency-1.4.0.js"></script>
	<script src="js/jquery.formatCurrency.vi-VN.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	<script src="js/numbertoword.js"></script>
	<script src="js/toggles.min.js"></script>
	
	<script>
	jQuery(document).ready(function(){
	// Chosen Select
	jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
	
	$('#cusAmount').blur(function()
	{
		$("#cusAmount").attr('maxlength','20');
		var temp=($("#cusAmount").val()).toString();
		$("#hd_cus_amount").val(temp);
		$('#cusAmount').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		var kqcusAmount =toWords(temp);
		
		$("#lbcusAmount").html(kqcusAmount+'đồng');
		if(temp !='')
			$("#lbcusAmount").css('display','block')
	});
	$('#cusAmount').focus(function() 
	{
		$("#cusAmount").attr('maxlength','15');
		$("#cusAmount").val($("#hd_cus_amount").val());
		
		$("#lbcusAmount").css('display','none')
	});
	$('#cusRate').blur(function()
	{
		$("#cusRate").attr('maxlength','20');
		var temp=($("#cusRate").val()).toString();
		$("#hd_cus_rate").val(temp);
		$('#cusRate').formatCurrency({ colorize:true, region: 'vi-VN' });
	});
	$('#cusRate').focus(function() 
	{
		$("#cusRate").attr('maxlength','10');
		$("#cusRate").val($("#hd_cus_rate").val());
	});
	
	$('#cusAmountPayment').blur(function()
	{
		$("#cusAmountPayment").attr('maxlength','20');
		var temp=($("#cusAmountPayment").val()).toString();
		$("#hd_cus_amount_payment").val(temp);
		$('#cusAmountPayment').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		var kqcusAmount =toWords(temp);
		
		$("#lbcusAmountPayment").html(kqcusAmount+'đồng');
		if(temp !='')
			$("#lbcusAmountPayment").css('display','block')
	});
	$('#cusAmountPayment').focus(function() 
	{
		$("#cusAmountPayment").attr('maxlength','10');
		$("#cusAmountPayment").val($("#hd_cus_amount_payment").val());
		$("#lbcusAmountPayment").css('display','none')
	});
	
	});	
	function reloadselect(){
		$('#selCusphone').chosen('destroy');
		$('#selCusphone').chosen();
		$('#selCusIdNo').chosen('destroy');
		$('#selCusIdNo').chosen();
		$('#selCusCode').chosen('destroy');
		$('#selCusCode').chosen();
	}
	$('#selCusphone').change(function(){
		var cusId = $(this).find('option:selected').attr('cus_id');
		var cusName = $(this).find('option:selected').attr('cus_name');
		var cusAdress = $(this).find('option:selected').attr('cus_address');
		
		$("#selCusIdNo option[cus_id="+ cusId +"]").attr("selected","selected");
		$("#selCusCode option[cus_id="+ cusId +"]").attr("selected","selected");
		reloadselect();
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		
		$("#hd_cus_id").val(cusId);
		
		$("ul li[cus_id='" + cusId + "']").css("display", "block");
		$("ul li[cus_id!='" + cusId + "']").css("display", "none");
		$("ul li[cus_id='" + cusId + "']:first").addClass('active');
	});
	$('#selCusIdNo').change(function(){
		var cusId = $(this).find('option:selected').attr('cus_id');
		var cusName = $(this).find('option:selected').attr('cus_name');
		var cusAdress = $(this).find('option:selected').attr('cus_address');
		
		$("#selCusphone option[cus_id="+ cusId +"]").attr("selected","selected");
		$("#selCusCode option[cus_id="+ cusId +"]").attr("selected","selected");
		reloadselect();
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		$("#hd_cus_id").val(cusId);
		
		$("ul li[cus_id='" + cusId + "']").css("display", "block");
		$("ul li[cus_id!='" + cusId + "']").css("display", "none");
		$("ul li[cus_id='" + cusId + "']:first").addClass('active');
	});
	$('#selCusCode').change(function(){
		var cusId = $(this).find('option:selected').attr('cus_id');
		var cusName = $(this).find('option:selected').attr('cus_name');
		var cusAdress = $(this).find('option:selected').attr('cus_address');
		
		$("#selCusIdNo option[cus_id="+ cusId +"]").attr("selected","selected");
		$("#selCusphone option[cus_id="+ cusId +"]").attr("selected","selected");
		reloadselect();
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		$("#hd_cus_id").val(cusId);
		
		$("ul li[cus_id='" + cusId + "']").css("display", "block");
		$("ul li[cus_id!='" + cusId + "']").css("display", "none");
		$("ul li[cus_id='" + cusId + "']:first").addClass('active');
	});
	function SaveLoan()
	{
		var $valid = jQuery('#form_cus_loan').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#form_cus_loan').submit();
	}
	jQuery(window).load(function(){ 
		//$('#bbbbb').formatCurrency().regions['vi-VN'];
		$('#bbbbb').formatCurrency({ colorize:true, region: 'vi-VN' });
		$('td.currency').formatCurrency({ colorize:true, region: 'vi-VN' });
		$('#cusRate').formatCurrency({ colorize:true, region: 'vi-VN' });
		var cusId = $("#selCusCode").find('option:selected').attr('cus_id');
		var cusName = $("#selCusCode").find('option:selected').attr('cus_name');
		var cusAdress = $("#selCusCode").find('option:selected').attr('cus_address');
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		$("#hd_cus_id").val(cusId);
		
		$("ul li[cus_id='" + cusId + "']").css("display", "block");
		$("ul li[cus_id!='" + cusId + "']").css("display", "none");
		$("ul li[cus_id='" + cusId + "']:first").addClass('active');
		
		StartpickerOptsPlanStart = {
				//minDate: new Date(),
				maxDate: "+5Y"
		};
		
		jQuery('#startDate').datepicker(StartpickerOptsPlanStart);
		//jQuery("#startDate").datepicker( "setDate" , new Date() );
		
		jQuery('#startDatePayment').datepicker(StartpickerOptsPlanStart);
		jQuery("#startDatePayment").datepicker( "setDate" , new Date() );
		
		$("#cusAmount").numeric();
	});
	</script>
	<script>
		
		//change rate
		function onChangeRate()
		{
			$("#aaaaa").numeric();
			$('#aaaaa').css('display', 'block');
			$('#bbbbb').css('display', 'none');
		}
		function onSaveChange()
		{
			$('#bbbbb').text($('#aaaaa').val());
			$('#bbbbb').formatCurrency({ colorize:true, region: 'vi-VN' });
			$('#aaaaa').css('display', 'none');
			$('#bbbbb').css('display', 'block');
		}
	</script>
{% endblock scripts%}
