{% extends "myapp/base.html" %} {% block content %}
<div class="mainpanel" style="margin-top: 61px; min-height: 1000px;">
	<!-- ROW -->
	<div class="row" style="margin-top: -2%;">
		{% include 'myapp/pnl_cusInfo.html' %}
		
		<div class="col-md-6" style="margin-top: 2%;">
			<input type="hidden" id="totalAmount">
			{% if type == 'loan' %}
				{% include 'myapp/pnl_loan.html' %}
			{% elif type == 'payment' %}
				{% include 'myapp/pnl_payment.html' %}
			{% endif %}
		</div>
		<!-- col-md-6 -->
	
	</div>
	<!-- END ROW -->
	<!-- ROW -->
	<div class="row">
		{% if lsCusDebit|length > 0 %}
			{% include 'myapp/pnl_cusDebit.html' %}
			{% include 'myapp/pnl_cusDebitDetail.html' %}
		{% else %}
			{% if type == 'loan' %}
				{% include 'myapp/pnl_help.html' %}
			{% elif type == 'payment' %}
				{% include 'myapp/pnl_helpPayment.html' %}
			{% endif %}		
		{% endif %}
	</div>
	<!-- END ROW -->
</div>
{% endblock %}
{% block scripts %}
	<script src="js/masonry.pkgd.min.js"></script>
	<script src="js/jquery-ui-1.10.3.min.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	
	<script src="js/bootstrap-wizard.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/jquery.maskedinput.min.js"></script>
	<script src="js/jquery.numeric.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/jquery.formatCurrency-1.4.0.js"></script>
	<script src="js/jquery.formatCurrency.vi-VN.js"></script>
	<script src="js/chosen.jquery.min.js"></script>
	<script src="js/numbertoword.js"></script>
	<script src="js/toggles.min.js"></script>
	
	<script>
	jQuery(document).ready(function(){
	// Chosen Select
	jQuery(".chosen-select").chosen({'width':'100%','white-space':'nowrap'});
	
	$('#cusAmount').blur(function()
	{
		$("#cusAmount").attr('maxlength','20');
		var temp=($("#cusAmount").val()).toString();
		$("#hd_cus_amount").val(temp);
		$('#cusAmount').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		var kqcusAmount =toWords(temp);
		
		$("#lbcusAmount").html(kqcusAmount+'đồng');
		if(temp !='')
			$("#lbcusAmount").css('display','block')
	});
	$('#cusAmount').focus(function() 
	{
		$("#cusAmount").attr('maxlength','15');
		$("#cusAmount").val($("#hd_cus_amount").val());
		
		$("#lbcusAmount").css('display','none')
	});
	$('#cusRate').blur(function()
	{
		$("#cusRate").attr('maxlength','20');
		var temp=($("#cusRate").val()).toString();
		$("#hd_cus_rate").val(temp);
		$('#cusRate').formatCurrency({ colorize:true, region: 'vi-VN' });
	});
	$('#cusRate').focus(function() 
	{
		$("#cusRate").attr('maxlength','10');
		$("#cusRate").val($("#hd_cus_rate").val());
	});
	
	$('#cusAmountPayment').blur(function()
	{
		$("#cusAmountPayment").attr('maxlength','20');
		var temp=($("#cusAmountPayment").val()).toString();
		$("#hd_cus_amount_payment").val(temp);
		$('#cusAmountPayment').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		var kqcusAmount =toWords(temp);
		
		$("#lbcusAmountPayment").html(kqcusAmount+'đồng');
		if(temp !='')
			$("#lbcusAmountPayment").css('display','block')
	});
	$('#cusAmountPayment').focus(function() 
	{
		$("#cusAmountPayment").attr('maxlength','10');
		$("#cusAmountPayment").val($("#hd_cus_amount_payment").val());
		$("#lbcusAmountPayment").css('display','none')
	});
	
	});
	function changeDebitDetail(cus_debit_id)
	{
		if($("#lb"+cus_debit_id+":checked").size() == 1)
		{
			$("table tbody[cus_debit_id][cus_debit_id='" + cus_debit_id + "']").show();
		}
		else
		{
			$("table tbody[cus_debit_id][cus_debit_id='" + cus_debit_id + "']").hide();
		}
	/* 	$("table tbody[cus_debit_id][cus_debit_id='" + cus_debit_id + "']").show();
		$("table tbody[cus_debit_id][cus_debit_id!='" + cus_debit_id + "']").hide();
		$("ul li[cus_debit_id='" + cus_debit_id + "']").addClass('active');
		$("ul li[cus_debit_id!='" + cus_debit_id + "']").removeClass('active'); */
	}
	function reloadselect(){
		$('#selCusphone').chosen('destroy');
		$('#selCusphone').chosen();
		$('#selCusIdNo').chosen('destroy');
		$('#selCusIdNo').chosen();
		$('#selCusCode').chosen('destroy');
		$('#selCusCode').chosen();
	}
	$('#selCusphone').change(function(){
		var cusId = $(this).find('option:selected').attr('cus_id');
		var cusName = $(this).find('option:selected').attr('cus_name');
		var cusAdress = $(this).find('option:selected').attr('cus_address');
		
		$("#selCusIdNo option[cus_id="+ cusId +"]").attr("selected","selected");
		$("#selCusCode option[cus_id="+ cusId +"]").attr("selected","selected");
		reloadselect();
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		
		$("#hd_cus_id").val(cusId);
		$("#hd_payment_cus_id").val(cusId);
		$("#hd_payment_trailer_cus_id").val(cusId);
		
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").show();
		$("table tbody tr[custommer_id][custommer_id!='"+ cusId +"']").hide();
		
		$("table tbody[cus_id][cus_id='" + cusId + "']").show();
		$("table tbody[cus_id][cus_id!='" + cusId + "']").hide();
		
		var cus_debit_id=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']:first").attr('cus_debit_id');
		var number_records=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").size();
		
		var totalTemp=0;
		var totalTemp1=0;
		var type ='{{ type_post }}';
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").each(function( index )
		{
			totalTemp += parseFloat($( this ).attr('cus_total_debit'));
			totalTemp1 += parseFloat($( this ).attr('cus_total_debit_trailer'));
		});
		$("#divCusInfor1").html('<span > '+ number_records +' </span>');
		
		if (type == "estimatePayment" )
			$("#divCusInfor2").html(totalTemp1);
		else
			$("#divCusInfor2").html(totalTemp);
		
		$('#divCusInfor2').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		$("#totalAmount").val(totalTemp);
		
	});
	$('#selCusIdNo').change(function(){
		var cusId = $(this).find('option:selected').attr('cus_id');
		var cusName = $(this).find('option:selected').attr('cus_name');
		var cusAdress = $(this).find('option:selected').attr('cus_address');
		
		$("#selCusphone option[cus_id="+ cusId +"]").attr("selected","selected");
		$("#selCusCode option[cus_id="+ cusId +"]").attr("selected","selected");
		reloadselect();
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		$("#hd_cus_id").val(cusId);
		$("#hd_payment_cus_id").val(cusId);
		$("#hd_payment_trailer_cus_id").val(cusId);
		
		$("ul li[cus_id='" + cusId + "']").css("display", "block");
		$("ul li[cus_id!='" + cusId + "']").css("display", "none");
		$("ul li[cus_id='" + cusId + "']:first").addClass('active');
		
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").show();
		$("table tbody tr[custommer_id][custommer_id!='"+ cusId +"']").hide();
		
		$("table tbody[cus_id][cus_id='" + cusId + "']").show();
		$("table tbody[cus_id][cus_id!='" + cusId + "']").hide();
		
		var cus_debit_id=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']:first").attr('cus_debit_id');
		var number_records=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").size();
		
		var totalTemp=0;
		var totalTemp1=0;
		var type ='{{ type_post }}';
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").each(function( index )
		{
			totalTemp += parseFloat($( this ).attr('cus_total_debit'));
			totalTemp1 += parseFloat($( this ).attr('cus_total_debit_trailer'));
		});
		$("#divCusInfor1").html('<span > '+ number_records +' </span>');
		
		if (type == "estimatePayment" )
			$("#divCusInfor2").html(totalTemp1);
		else
			$("#divCusInfor2").html(totalTemp);
		
		$('#divCusInfor2').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		$("#totalAmount").val(totalTemp);
		
	});
	$('#selCusCode').change(function(){
		var cusId = $(this).find('option:selected').attr('cus_id');
		var cusName = $(this).find('option:selected').attr('cus_name');
		var cusAdress = $(this).find('option:selected').attr('cus_address');
		
		$("#selCusIdNo option[cus_id="+ cusId +"]").attr("selected","selected");
		$("#selCusphone option[cus_id="+ cusId +"]").attr("selected","selected");
		reloadselect();
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		$("#hd_cus_id").val(cusId);
		$("#hd_payment_cus_id").val(cusId);
		$("#hd_payment_trailer_cus_id").val(cusId);
		
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").show();
		$("table tbody tr[custommer_id][custommer_id!='"+ cusId +"']").hide();
		
		$("table tbody[cus_id][cus_id='" + cusId + "']").show();
		$("table tbody[cus_id][cus_id!='" + cusId + "']").hide();
		
		var cus_debit_id=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']:first").attr('cus_debit_id');
		var number_records=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").size();
		
		var totalTemp=0;
		var totalTemp1=0;
		var type ='{{ type_post }}';
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").each(function( index )
		{
			totalTemp += parseFloat($( this ).attr('cus_total_debit'));
			totalTemp1 += parseFloat($( this ).attr('cus_total_debit_trailer'));
		});
		$("#divCusInfor1").html('<span > '+ number_records +' </span>');
		if (type == "estimatePayment" )
			$("#divCusInfor2").html(totalTemp1);
		else
			$("#divCusInfor2").html(totalTemp);
		
		$('#divCusInfor2').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		$("#totalAmount").val(totalTemp);
	});
	function SaveLoan()
	{
		var $valid = jQuery('#form_cus_loan').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#form_cus_loan').submit();
	}
	function estimatePayment()
	{
		$("#hd_type").val("estimatePayment");
		var $valid = jQuery('#form_cus_payment').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#form_cus_payment').submit();
	}
	function makePayment()
	{
		$("#hd_type").val("makePayment");
		var $valid = jQuery('#form_cus_payment').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#form_cus_payment').submit();
	}
	function onShowHideDetail(cus_debit_id,cus_debit_detail_id)
	{
		if ($("table tbody tr span[cus_debit_detail_id][cus_debit_detail_id='"+ cus_debit_detail_id +"']").hasClass('glyphicon-chevron-down'))
		{
			$("table tbody tr[cus_debit_id][cus_debit_id='"+ cus_debit_id +"']").show();
			$("table tbody tr span[cus_debit_detail_id][cus_debit_detail_id='"+ cus_debit_detail_id +"']").removeClass('glyphicon-chevron-down');
			$("table tbody tr span[cus_debit_detail_id][cus_debit_detail_id='"+ cus_debit_detail_id +"']").addClass('glyphicon-chevron-up');
		}
		else
		{
			$("table tbody tr[cus_debit_id][cus_debit_id='"+ cus_debit_id +"'][cus_debit_detail_flag][cus_debit_detail_flag!='1']").hide();
			$("table tbody tr[cus_debit_id][cus_debit_id='"+ cus_debit_id +"'][cus_debit_detail_flag][cus_debit_detail_flag='1']").show();
			$("table tbody tr span[cus_debit_detail_id][cus_debit_detail_id='"+ cus_debit_detail_id +"']").removeClass('glyphicon-chevron-up');
			$("table tbody tr span[cus_debit_detail_id][cus_debit_detail_id='"+ cus_debit_detail_id +"']").addClass('glyphicon-chevron-down');
		}
	}
	jQuery(window).load(function(){ 
		$('.currency').formatCurrency({ colorize:true, region: 'vi-VN' });
		$('#cusRate').formatCurrency({ colorize:true, region: 'vi-VN' });
		
		var cusId = $("#selCusCode").find('option:selected').attr('cus_id');
		var cusName = $("#selCusCode").find('option:selected').attr('cus_name');
		var cusAdress = $("#selCusCode").find('option:selected').attr('cus_address');
		$("#divCusName").html(cusName);
		$("#divCusAddress").html(cusAdress);
		
		$("#hd_cus_id").val(cusId);
		$("#hd_payment_cus_id").val(cusId);
		$("#hd_payment_trailer_cus_id").val(cusId);
		
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").show();
		$("table tbody tr[custommer_id][custommer_id!='"+ cusId +"']").hide();
		
		$("table tbody[cus_id][cus_id='" + cusId + "']").show();
		$("table tbody[cus_id][cus_id!='" + cusId + "']").hide();
		
		var cus_debit_id=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']:first").attr('cus_debit_id');
		var number_records=$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").size();
		$("table tbody tr[cus_debit_detail_flag][cus_debit_detail_flag='1']").show();
		$("table tbody tr[cus_debit_detail_flag][cus_debit_detail_flag!='1']").hide();
		
		var totalTemp=0;
		var totalTemp1=0;
		var type ='{{ type_post }}';
		$("table tbody tr[custommer_id][custommer_id='"+ cusId +"']").each(function( index )
		{
			totalTemp += parseFloat($( this ).attr('cus_total_debit'));
			totalTemp1 += parseFloat($( this ).attr('cus_total_debit_trailer'));
		});
		
		$("#divCusInfor1").html('<span > '+ number_records +' </span>');
		if (type == "estimatePayment" )
			$("#divCusInfor2").html(totalTemp1);
		else
			$("#divCusInfor2").html(totalTemp);
		$('#divCusInfor2').formatCurrency({ colorize:true, region: 'vi-VN' });
		$("#totalAmount").val(totalTemp);
			
		StartpickerOptsPlanStart = {
				//minDate: new Date(),
				maxDate: "+5Y"
		};
		
		jQuery('#startDate').datepicker(StartpickerOptsPlanStart);
		//jQuery("#startDate").datepicker( "setDate" , new Date() );
		
		jQuery('#startDatePayment').datepicker(StartpickerOptsPlanStart);
		
		$("#cusAmount").numeric();
	});
	</script>
	<script>
		//change rate
		function onChangeRate()
		{
			$("#aaaaa").numeric();
			$('#aaaaa').css('display', 'block');
		}
		function onSaveChange()
		{
			$('#aaaaa').css('display', 'none');
		}
	</script>
{% endblock scripts%}
