{% extends "myapp/base.html" %}
{% block header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-edit"></i> <a href="#">New cus</a>
	</h2>
</div>
{% endblock %} 
{% block content %}
<div class="mainpanel" style="margin-top: 2%">
        
    <div class="contentpanel">
      
      <div class="row">
        <div class="col-sm-3">
          
          
          <h5 class="subtitle">Hướng dẫn</h5>
          <p class="mb30">Thông tin khách hàng nên được nhập đầy đủ, chính xác để đảm bảo việc tìm kiếm thông tin, quản lý công nợ và phân tích báo cáo.</p>
          
          <h5 class="subtitle">Lưu ý:</h5>
          <ul class="profile-social-list">
            <li><i class="glyphicon glyphicon-chevron-down"></i> <a href="#">Ô có dấu (*) là bắt buộc phải nhập</a></li>
            <li><i class="glyphicon glyphicon-chevron-down"></i> <a href="#">Nếu có nhiều khách hàng trùng tên, nên lưu kèm các thông tin khác cho dễ nhớ. VD: Tuấn - Hà Nội; Tuấn - HCM; Tuấn - Bạn Cấp 3 ...</a></li>
            <li><i class="glyphicon glyphicon-chevron-down"></i> <a href="#">Thông tin Tên khách hàng, Số điện thoại, Số CMND là trường sẽ được dùng để tìm kiếm trên các chức năng khác</a></li>
            <li><i class="glyphicon glyphicon-chevron-down"></i> <a href="#">Nếu có nhiều hơn 1 sdt thì mỗi số cách nhau bởi dấu ;</a></li>
            <li><i class="glyphicon glyphicon-chevron-down"></i> <a href="#">Nếu muốn thêm nhiều khách hàng , bấm vào "Lưu thông tin"</a></li>
            <li><i class="glyphicon glyphicon-chevron-down"></i> <a href="#">Nếu muốn thêm một khách hàng và trở về trang quản lý công nợ , bấm vào "Lưu và về trang quản lý"</a></li>
          </ul>
          
        </div>
        <div class="col-sm-9">
	{% include 'myapp/pnl-NewCus.html' %}
  </div>


{% endblock %}

{% block scripts %}
<script src="js/custom.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script>
	function validatesdata()
	{
		var text = "normalsave";
		$('#typeSave').val(text);
		var $valid = jQuery('#frmNewCus').valid();
		if(!$valid) {
			$validator.focusInvalid();
			return false;
		 }
		else
		{
			jQuery('#frmNewCus').submit();
		}
		
		
	}
	
	function validatesdataredirect()
	{
		var text = "saveandredirect";
		$('#typeSave').val(text);
		var $valid = jQuery('#frmNewCus').valid();
		if(!$valid) {
			$validator.focusInvalid();
			return false;
		 }
		else
		{
			jQuery('#frmNewCus').submit();
		}
		
		
	}
	
</script>
<script defer src="slider/jquery.flexslider.js"></script>
{% endblock %}
