<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" dir="ltr"
	xmlns:og="http://ogp.me/ns#"
	xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="Pragma" content="no-cache">
<meta http-equiv="Cache-Control" content="no-cache">
<meta http-equiv="Expires" content="0">
<meta name="viewport" content="width=device-width">
<meta name="robots" content="index,follow">
<meta name="google-site-verification"
	content="DlbER25nZuBU-MwRmZdZ7TOJvChWOcu03rMEFrDnkoY">
<meta name="google-site-verification"
	content="qmgVoocLJRdAfh4k6Ny-p50pTXv-NkNj1jun2MDc37w">
<meta http-equiv="content-style-type" content="text/css">
<meta http-equiv="content-script-type" content="text/javascript">
<meta http-equiv="content-language" content="ja">
<meta name="Keywords" content="Studyplus,スタディプラス,勉強,学習,SNS,継続">
<meta name="Description"
	content="勉強を記録・共有することで誰でも楽しく勉強を継続できる勉強SNS、「Studyplus」（スタディプラス）">
<meta property="og:title" content="教材を探す | Studyplus（スタディプラス）">
<meta property="og:type" content="article">
<meta property="og:url" content="http://studyplus.jp/">
<meta property="og:description"
	content="勉強を記録・共有することで誰でも楽しく勉強を継続できる勉強SNS、「Studyplus」（スタディプラス）">
<meta property="og:image"
	content="http://s3.studyplus.jp/studyplus_banner.png?t=30052014034125">
<meta property="og:site_name" content="勉強が楽しく続くSNS - Studyplus">
<meta property="fb:admins" content="1600459316">
<link rel="shortcut icon" type="image/x-icon"
	href="http://cdn.greentea.sn-img.com/assets/image/favicon.ico?t=30052014034125">
<link rel="stylesheet" href="./search_amazon_files/bootstrap.css"
	type="text/css">
<link rel="stylesheet" href="./search_amazon_files/style.css"
	type="text/css">
<!--[if lte IE 9 ]>
    <link rel="stylesheet" href="//cdn.greentea.sn-img.com/assets/css/style_ie.css?t=30052014034125" type="text/css">
  <![endif]-->
<!--[if lt IE 9]>
    <script src="//html5shim.googlecode.com/svn/trunk/html5.js?t=30052014034125"></script>
  <![endif]-->
<link rel="stylesheet" href="./search_amazon_files/normal.import.css"
	type="text/css">
<title>教材を探す | Studyplus（スタディプラス）</title>
<script type="text/javascript" async=""
	src="./search_amazon_files/ga.js"></script>
<script type="text/javascript">var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-33109842-1']);<!-- Grunt Replace -->

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();</script>
<script async="" src="./search_amazon_files/adsbygoogle.js"></script>
<script data-main="/scripts/main" src="./search_amazon_files/require.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/main.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/app.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/backbone-min.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/hogan-2.0.0.min.amd.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/json2.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/jquery.min.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/text.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/underscore-min.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Errors.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/messages.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/meta_tag.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/jquery.cookie.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/jquery.placeholder.min.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/TextShrinkExpand.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/AutoResizeTextarea.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/index.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/index(1).js"></script>
<script type="text/javascript" 	src="./search_amazon_files/AutoPaging.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Materials.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Users.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/BookshelfEntry.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/index(2).js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Material.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/User.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Validate.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Data.js"></script>
<script type="text/javascript"  src="./search_amazon_files/moment.min.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Header.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Footer.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Sidebar.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Settings.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/PopularTags.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/NewestUsers.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/OpinionBox.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Opinion.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Tags.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Friend.js"></script>
<script type="text/javascript" 	src="./search_amazon_files/Tag.js"></script>
</head>
<body>
	<div class="modal_loading_animation hide" style="display: none;">
		<div class="loading_animation_inner">
			<div class="loading_logo">
				<img src="./search_amazon_files/login_logo.png" class="sutarou_icon">
			</div>
			<div class="for_modern_browser">
				<img src="./search_amazon_files/loading2.gif" class="loading_icon">
				<img src="./search_amazon_files/loading_message.png"
					class="loading_message">
			</div>
		</div>
	</div>
	<div class="app_mobile hide" style="display: none;"></div>
	<div class="app_default hide" style="display: block;">
		<div class="app_header" id="HeaderPanel"></div>
		<div class="app_body">
			<div class="app_col_0 hide" style="display: none;">
				<div class="pre_main"></div>
			</div>
			<div class="app_col_1 hide onecolumn_layout" style="display: none;">
				<div class="pre_main"></div>
			</div>
			<div class="app_col_2 hide normal_layout">
				<div class="pre_main main">
					<link rel="stylesheet"
						href="./search_amazon_files/SearchLearningMaterialsPage.css"
						type="text/css">
					<div class="panel">
						<div class="page_title_right_button common">
							<a href="http://studyplus.jp/home/bookshelf"
								class="button height25">自分の本棚をみる</a>
						</div>
						<h1 class="page_title">教材をさがす</h1>
						<ul class="feedbackPanel"></ul>
						<div class="search_material_box">
							<div class="search_material">
								<form>
									<select class="search_selecter js-index" name="index"><option
											value="amazon_books">和書</option>
										<option value="amazon_foreign_books">洋書</option>
										<option value="amazon_video">ビデオ</option>
										<option value="amazon_dvd">DVD</option>
										<option value="amazon_music">音楽</option>
										<option value="itunes_app">App Store</option></select><input
										type="text" class="search_query js-keyword"
										placeholder="Amazonから検索" data-amazon-placeholder="Amazonから検索"
										data-itunes-placeholder="App Storeから検索"><input
										type="submit"
										class="button search action important height32 js-search"
										value="検索">
								</form>
								<script type="text/javascript">$('.js-index').change(
        function() {
          var v = $('.js-index option:selected').val();
          var search_query = $('.js-keyword');
          if (v.match(/amazon_.*/)) {
            search_query.attr('placeholder', search_query.data('amazon-placeholder'));
          }
          if (v.match(/itunes_.*/)) {
            search_query.attr('placeholder', search_query.data('itunes-placeholder'));
          }
        }
      );</script>
							</div>
							<div class="add_other_material">
								<div class="label_or">
									<span class="pre_line"></span>または<span class="post_line"></span>
								</div>
								<div class="add_material_button">
									<a href="http://studyplus.jp/registermaterial"
										class="button height32">Amazon、App Store以外の教材を手動で登録</a>
								</div>
							</div>
						</div>
						<div class="searched_materials">
							<h3 class="section_title js-keyword_materials"
								style="display: block;">検索一覧</h3>
							<div class="no_material" style="display: block;">教材が見つかりませんでした。</div>
							<h3 class="section_title js-popular_materials"
								style="display: none;">おすすめ</h3>
							<ul class="material_list_1"></ul>
							<div class="js-autopager" style="display: none;">
								<img src="./search_amazon_files/loading.gif"
									style="margin: 4px auto; display: block;">
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>