<!DOCTYPE html>
<html lang="en" style="background: #e4e7ea;">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width; initial-scale=1.0; maximum-scale=1.0; user-scalable=0;">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.png" type="image/png">

<title>Ex-artisan Admin System</title>
<link href="css/style.default.css" rel="stylesheet">
<link href="css/ase-style.css" rel="stylesheet">
<link href="css/bootstrap-social.css" rel="stylesheet">

<link rel="stylesheet" href="slider/flexslider.css" type="text/css"
	media="screen" />
<link href="css/signin.css" rel="stylesheet">
</head>

<body style="overflow: visible;">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status">
			<i class="fa fa-spinner fa-spin"></i>
		</div>
	</div>

	<section>

		<div class="mainpanel" style="min-height: 0px">
			<div class="menu-top">
				<!-- <p>Adult social education</p> -->
				<div class="signin-panel">
					<a href="/signin" onfocus="this.blur();">Login</a> <span
						class="pipe">｜</span> <a href="/signup" onfocus="this.blur();">Join
						now</a>
				</div>
				<div class="logo">
					<img alt="" src="images/ASE_certified.png">
				</div>
			</div>
			<div class="headerbar">
				<div class="flexslider">
					<ul class="slides">
						<!-- <li class="slide"
							style="background-image: url(images/slider/background_01.jpg);">
							<div style="position: relative;">
								<div style="margin-left: 3%;margin-top: 2.5%;width: 20%">
									<img src="../images/avatar/cuongnm.jpg" class="thumbnail img-responsive">
								</div>
								<div class="infor">
									<h1>Mr. CuongNM</h1>
								</div>
							</div>
						</li> -->
						<li class="slide"
							style="background-image: url(images/slider/01.jpg) ;background-size:auto auto;">
						</li>
						<li class="slide"
							style="background-image: url(images/slider/02.jpg);background-size:auto auto;">
						</li>
						<li class="slide"
							style="background-image: url(images/slider/03.jpg);background-size:auto auto;">
						</li>
						<li class="slide"
							style="background-image: url(images/slider/04.jpg);background-size:auto auto;">
						</li>
						<li class="slide"
							style="background-image: url(images/slider/05.jpg);background-size:auto auto;">
						</li>
						<li class="slide"
							style="background-image: url(images/slider/06.jpg);background-size:auto auto;">
						</li>
					</ul>
				</div>
			</div>
			<!-- <div class="row" style="margin: auto 5% auto">
				<div class="col-md-5 block">
					<div class="mb5"></div>
					<div class="block-title">
						<strong>Book & Lecture</strong>
					</div>
					<div class="book">
						<div class="book-img">
							<img
								src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
						</div>
						<div class="book-infor">
							<div class="book-name">
								<a href="#">Marketing Strategy</a>
							</div>
							<div class="book-content">
								<span>I used this book for one MBA </span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="book">
						<div class="book-img">
							<img
								src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
						</div>
						<div class="book-infor">
							<div class="book-name">
								<a href="#">Marketing Strategy</a>
							</div>
							<div class="book-content">
								<span>I used this book for one MBA </span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
				col-sm-7

				<div class="col-md-5 block">
					<div class="mb5"></div>
					<div class="block-title">
						<strong>Class room</strong>
					</div>
					<div class="book">
						<div class="book-img">
							<img
								src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
						</div>
						<div class="book-infor">
							<div class="book-name">
								<a href="#">Marketing Strategy</a>
							</div>
							<div class="book-content">
								<span>I used this book for one MBA </span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="book">
						<div class="book-img">
							<img
								src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
						</div>
						<div class="book-infor">
							<div class="book-name">
								<a href="#">Marketing Strategy</a>
							</div>
							<div class="book-content">
								<span>I used this book for one MBA </span>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
				</div>
			</div> -->
			<!-- row -->

			<!-- <div class="signup-footer">
				<div class="pull-left">&copy; 2014. All Rights Reserved.</div>
				<div class="pull-right">
					Created By: <a href="http://ex-artisan.com" target="_blank">EAS</a>
				</div>
			</div> -->

		</div>
	</section>


	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/retina.min.js"></script>

	<script src="js/custom.js"></script>
	<script defer src="slider/jquery.flexslider.js"></script>
	<script type="text/javascript">
	$(window).load(function() {
	  $('.flexslider').flexslider({
	    animation: "slide",
	    controlNav: false,
	  });
	});
	</script>
</body>
</html>
