{% extends "myapp/base.html" %}
{% block header %}
<div class="pageheader">
	<h2>
		<i class="fa fa-home"></i> <a href="index">Home</a>
	</h2>
</div>
{% endblock %} 
{% block content %}
<div class="contentpanel" style="margin-left: auto; margin-right: auto;">
	<!-- panel -->
	<div class="col-md-10">
		<form method="post" name="form">
			{% csrf_token %} 
			<input type="hidden" name="hd_post_id"
				value="{{ post.id }}"> <label class="control-label">Select
				your post type:</label>
			<div class="row mb10">
				<div class="col-sm-3">
					<select id= "slPostType" class="form-control chosen-select" name="slPostType" onchange="doSomething(this.selectedIndex);" style="">
						<option value="0" selected>As Post</option>
						<option value="1" >As Lecture</option>
						<option value="2">As Event</option>
					</select>
				</div>
			</div>
			<div class="row mb10">
				<div class="col-sm-6">
					<p>From Date<input name="dtpfromdate" type="date" class="form-control datepicker" placeholder="dd/mm/yyyy" style="line-height:inherit;"/></p>
				</div>
				<div class="col-sm-6">
					<p>To Date<input name="dtptodate" type="date" class="form-control datepicker" placeholder="dd/mm/yyyy" style="line-height:inherit;"/></p>
				</div>
			</div>

			<div>
				<p>Take Place<input name="txtPlace" type="text" class="form-control"
					placeholder="Take place" maxlength="100"/></p>
			</div>

			<div>
				<input name="txtTitle" type="text" class="form-control"
					placeholder="Title" value="{{Title}}" maxlength="100"/>
			</div>
			<div>
				<input name="txtImagelink" type="text" class="form-control"
					placeholder="ImageURL" value="{{Imagelink}}"maxlength="300" />
			</div>
			<div>
				<input name="txtVideolink" type="text" class="form-control"
					placeholder="VideoURL" value="{{Videolink}}"maxlength="300" />
			</div>
			<div>
				<input name="txtAmazonlink" type="text" class="form-control"
					placeholder="AmazonURL" value="{{Amazonlink}}" maxlength="300"/>
			</div>
			<textarea name="txtContent" placeholder="Content" rows="3"
				class="form-control" maxlength="500"></textarea>
			<div class="mb10"></div>
			<button class="btn btn-primary">Save</button>
			<button class="btn btn-primary">Cancel</button>
		</form>
		<!-- col-sm-8 -->
	</div>
</div>
<!-- row -->

</div>
<!-- contentpanel -->
{% endblock %} {% block scripts %}
<script src="js/custom.js"></script>
<script type="text/javascript">
	window.onload = function() {
			document.form.dtpfromdate.disabled=true;
			document.form.dtptodate.disabled=true;
			document.form.txtPlace.disabled=true;
	}
	function doSomething(id){
		if (id==0){
			document.form.dtpfromdate.disabled=true;
			document.form.dtptodate.disabled=true;
			document.form.txtPlace.disabled=true;
			
		}
		else{
			document.form.dtpfromdate.disabled=false;
			document.form.dtptodate.disabled=false;
			document.form.txtPlace.disabled=false;
		}
		
	};
</script>
{% endblock %}
