{% extends "myapp/base.html" %}
{% block header %} 
<link rel="stylesheet" href="css/dropzone.css" />
{% endblock header %} 
{%block content %}

<div id="mainMenuBar" class="btn-group" style="width: 100%;text-align: center; margin-bottom: 0px;margin-left: 10%;margin-top: 1%">
	<button type="button" class="btn btn-primary" onclick="window.location.href='/personalhome'" style="width: 20%;">Home</button>
	<button type="button" class="btn btn-default" onclick="window.location.href='/mentorview'"  style="width: 20%;">As Mentor</button>
	<button type="button" class="btn btn-default" onclick="window.location.href='/studentview'" style="width: 20%;">As Student</button>
	<button type="button" class="btn btn-default" onclick="window.location.href='/profile'" style="width: 20%;">Profile</button>
</div>

{% include 'myapp/lecture.html' %}
{% endblock content %} 
{% block scripts %}
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/toggles.min.js"></script>
<script src="js/dropzone.min.js"></script>
<script src="js/custom.js"></script>
<script>
  jQuery(window).load(function(){
  
    var container = document.querySelector('#timeline-list');
    var msnry = new Masonry( container, {
      // options
      columnWidth: '.col-sm-6',
      itemSelector: '.col-sm-6'
    });
    
    // check on load
    if(jQuery(window).width() <= 640 )
        msnry.destroy();

    // check on resize
    jQuery(window).resize(function(){
        if(jQuery(this).width() <= 640 )
            msnry.destroy();
    });
    
  });
</script>
{% endblock scripts %}
