<div class="panel panel-default">
	<div class="col-md-6">

		<div class="panel panel-default">
			<div class="panel-heading">
				<h4 class="panel-title">Alert Messages</h4>
			</div>
			<!-- panel-heading -->
			<div class="panel-body">

				<div class="alert alert-success">
					<strong>Well done!</strong> You successfully read this <a href="#"
						class="alert-link">important alert message</a>.
				</div>

				<div class="alert alert-info">
					<strong>Heads up!</strong> This <a href="#" class="alert-link">alert
						needs your attention</a>, but it's not super important.
				</div>

				<div class="alert alert-warning">
					<strong>Warning!</strong> Best check yo self, you're <a href="#"
						class="alert-link">not looking too good</a>.
				</div>

				<div class="alert alert-danger">
					<strong>Oh snap!</strong> Change a <a href="#" class="alert-link">few
						things</a> up and try submitting again.
				</div>
			</div>
		</div>
		<!-- panel -->

	</div>
</div>
<!-- contentpanel -->
