<div class="col-md-3">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-info fade in nomargin">
				<button aria-hidden="true" data-dismiss="alert" class="close"
					type="button">×</button>
				<h4>Announcements!</h4>
				<p>Change this and that and try again. Duis mollis, est non
					commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem
					nec elit. Cras mattis consectetur purus sit amet fermentum.</p>
				<p>
					<button class="btn btn-info" type="button">Take this
						action</button>
					<button class="btn btn-white" type="button">Or do this</button>
				</p>
			</div>

		</div>
	</div>
	<!-- panel -->

</div>
<!-- md-6 -->