<div class="col-md-6">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-info fade in nomargin">
			   <h4><strong>CHO KHÁCH HÀNG CŨ VAY</strong></h4>
			   <p>KHÁCH HÀNG CŨ: Là khách hàng đã được nhập thông tin vào hệ thống và đã từng cho vay.</p>
			   <p><strong> Bước 1:</strong> Chọn khách hàng cần cho vay từ bảng THÔNG TIN KHÁCH HÀNG.</p>
			   <p><strong> Bước 2:</strong> Nhập thông tin cho vay: Số tiền, lãi xuất, chu kỳ tính lãi, và bấm nút CHO VAY</p>
			</div>
		</div>
	</div>
	<!-- panel -->

</div>
<!-- md-6 -->

