{% for ls in lsRecomment %}
<div class="row" style="margin: auto 5% auto">
	<div class="col-md-5 block">
		<div class="mb5"></div>
		<div class="block-title">
			<strong>Book & Lecture</strong>
		</div>
		<div class="book">
			<div class="book-img">
				<img
					src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
			</div>
			<div class="book-infor">
				<div class="book-name">
					<a href="#">Marketing Strategy</a>
				</div>
				<div class="book-content">
					<span>I used this book for one MBA </span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="book">
			<div class="book-img">
				<img
					src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
			</div>
			<div class="book-infor">
				<div class="book-name">
					<a href="#">Marketing Strategy</a>
				</div>
				<div class="book-content">
					<span>I used this book for one MBA </span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<div class="col-md-5 block">
		<div class="mb5"></div>
		<div class="block-title">
			<strong>Class room</strong>
		</div>
		<div class="book">
			<div class="book-img">
				<img
					src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
			</div>
			<div class="book-infor">
				<div class="book-name">
					<a href="#">Marketing Strategy</a>
				</div>
				<div class="book-content">
					<span>I used this book for one MBA </span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
		<div class="book">
			<div class="book-img">
				<img
					src="http://ecx.images-amazon.com/images/I/51FUucKuQFL._AA278_PIkin-av,BottomRight,-46,22_AA300_SH20_OU09_.jpg">
			</div>
			<div class="book-infor">
				<div class="book-name">
					<a href="#">Marketing Strategy</a>
				</div>
				<div class="book-content">
					<span>I used this book for one MBA </span>
				</div>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
</div>
{% endfor %}