<div class="col-md-6">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-info fade in nomargin">
			   <h4><strong>CHỨC NĂNG TRẢ NỢ</strong>&nbsp;<span class="label label-warning"> Là chức năng cho phép trả nợ cho khách hàng đã vay</span></h4>
			   <p><strong> Bước 1:</strong> Chọn khách hàng cần cho vay từ bảng THÔNG TIN KHÁCH HÀNG.</p>
			   <p><strong> Bước 2:</strong> Nhập ngày trả, số tiền trả</p>
			   <p><strong> Bước 3:</strong> Bấm nút <span class="label label-danger">TRẢ NỢ </span></p>
			</div>
		</div>
	</div>
	<!-- panel -->

</div>
<!-- md-6 -->

