<div class="col-xs-10 col-sm-10 col-md-10">
	<div class="table-responsive">
		<table class="table table-hover table-bordered mb30">
		{% if lsCusDebit|length > 0 %}
			<thead>
				<tr>
					<th style="width: 1%;text-align: left;font-family: Arial,Helvetica,sans-serif;">STT</th>
					<th style="width: 9%;text-align:center;font-family: Arial,Helvetica,sans-serif;">TỪ NGÀY</th>
					<th style="width: 9%;text-align: center;font-family: Arial,Helvetica,sans-serif;">ĐẾN NGÀY</th>
					<th style="width: 15%;text-align: center;font-family: Arial,Helvetica,sans-serif;">ĐẦU KỲ</th>
					<th style="width: 10%;text-align: center;font-family: Arial,Helvetica,sans-serif;">LÃI XUẤT</th>
					<th style="width: 8%;text-align: center;font-family: Arial,Helvetica,sans-serif;">CHU KỲ</th>
					<th style="width: 8%;text-align: center;font-family: Arial,Helvetica,sans-serif;">SỐ NGÀY</th>
					<th style="width: 12%;text-align: center;font-family: Arial,Helvetica,sans-serif;">TIỀN LÃI</th>
					<th style="width: 15%;text-align: center;font-family: Arial,Helvetica,sans-serif;">TIỀN TRẢ</th>
					<th style="width: 15%;text-align: center;font-family: Arial,Helvetica,sans-serif;">CUỐI KỲ</th>
				</tr>
			</thead>
		{% endif %}
			{% for cus_debit in lsCusDebit %}
				<tbody cus_id ="{{ cus_debit.cus_id.id }}" cus_debit_id="{{ cus_debit.id }}" style="overflow-y: scroll; overflow-x: hidden; height: 100px;" >
					{% for cus_debit_detail in lsCusDebitDetail %}
						{% if cus_debit.id|truncatechars:100 ==  cus_debit_detail.cus_debit_id.id|truncatechars:100 %}
							<tr cus_debit_detail_flag="{{ cus_debit_detail.flag }}" cus_debit_id ="{{ cus_debit.id }}">
								{% if cus_debit_detail.flag == 1 %}
									<td onclick="onShowHideDetail('{{ cus_debit.id }}','{{ cus_debit_detail.id }}');"><span cus_debit_detail_id ="{{ cus_debit_detail.id }}" class="glyphicon glyphicon-chevron-down"></span></td>
								{% else %}
									<td>{{ cus_debit_detail.index }}</td>
								{% endif %}
								<td class="date">{{ cus_debit_detail.from_date|date:'d-m-Y' }}</td>
								<td class="date"><a href="#">{{ cus_debit_detail.to_date|date:'d-m-Y' }}</a></td>
								<td class="currency">{{ cus_debit_detail.start_cycle }}</td>
								<td>
									<a href="#" onclick="onChangeRate();" style="color: #428bca !important;" class="currency">{{ cus_debit_detail.rate }}</a>
									<input type="text" id="aaaaa" name="" value="1000" style="display: none;color: #428bca;width: 80px;" onkeydown="if (event.keyCode == 13) onSaveChange();" maxlength="5" required="">
								</td>
								<td>{{ cus_debit.cycle }}</td>
								<td>{{ cus_debit_detail.days }}</td>
								<td class="currency">{{ cus_debit_detail.amount }}</td>
								<td class="currency">{{ cus_debit_detail.payment }}</td>
								<td class="currency">{{ cus_debit_detail.end_cycle }}</td>
							</tr>
						{% endif %}
					{% endfor %}
				</tbody>
			{% endfor %}
		</table>
	</div>
	<!-- table-responsive -->
</div>
<!-- col-md-10 -->