<div class="col-md-6">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-info fade in nomargin">
			   	<h4><strong>CHỨC NĂNG XEM TRƯỚC</strong>&nbsp;<span class="label label-warning"> Xem trước và ước tính quá trình trả nợ của khách hàng</span></h4>
			   	<p><strong> Bước 1:</strong> Chọn khách hàng cần cho vay từ bảng THÔNG TIN KHÁCH HÀNG.</p>
			   	<p><strong> Bước 2: Nhập ngày trả</strong> và bấm vào nút <span class="label label-primary">XEM TRƯỚC</span> để xem tổng nợ đến ngày trả nhập vào</p>
				<p><strong> Bước 3: Nhập số tiền</strong> và bấm vào nút <span class="label label-primary">XEM TRƯỚC</span> hệ thống sẽ ước tính quá trình trả nợ</p>
			</div>
		</div>
	</div>
	<!-- panel -->

</div>
<!-- md-6 -->

