<div class="col-md-6">

	<div class="panel panel-default">
		<div class="panel-body">

			<div class="alert alert-info fade in nomargin">
			   	<h4><strong>CHO KHÁCH HÀNG MỚI VAY</strong></h4>
			   	<p>KHÁCH HÀNG MỚI: Là khách hàng chưa nhập thông tin vào hệ thống và chưa vay lần nào.</p>
			   	<p><strong> Bước 1:</strong> Bấm vào nút <span class="label label-warning">THÊM KHÁCH HÀNG</span> ở bảng THÔNG TIN KHÁCH HÀNG phía trên </p>
				<p><strong> Bước 2 - 3:</strong> (2): Chọn khách hàng cần cho vay -> (3) Nhập thông tin cho vay</p>
			</div>
		</div>
	</div>
	<!-- panel -->

</div>
<!-- md-6 -->

