<form id="form_cus_payment" novalidate="novalidate" method="post">
	{% csrf_token %}
	<div class="table-responsive">
		<div class="panel panel-primary">
			<div class="panel-heading" style="height: 40px !important;padding-top: 10px !important;padding-left: 6px !important">
				<h4 class="panel-title">THÔNG TIN TRẢ NỢ : NGÀY TRẢ, SỐ TIỀN TRẢ, GHI CHÚ</h4>
			</div>
			<div class="panel-body" style="padding: 0px !important;">
				<table class="table table-hover mb30" style="min-height: 264px !important;">
					<tbody>
						<tr>
							<td style="height: 36px !important;">
								<div class="form-group" style="margin-bottom: 0px !important;">
									<div class="input-group col-sm-12" style="float: left;">
										<input type="text" class="form-control" required=""
											placeholder="計画開始日" id="startDatePayment" name="cus_payment_date_payment" required=""> <span
											class="input-group-addon"><i class="fa fa-calendar" {% if payment_date %} value="{{ payment_date }}" {% endif %}></i></span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td style="height: 36px !important;">
								<div class="form-group" style="margin-bottom: 0px !important;">
									<div class="input-group col-sm" style="float: left;">
										<input type="text" name="cus_debit_payment" class="form-control" {% if payment_amount %} value="{{ payment_amount }}" {% endif %} id="cusAmountPayment" maxlength="15" required="" placeholder="Nhập số tiền trả ...">
										<label id="lbcusAmountPayment" style="display: none;" class="error"></label>
										<span class="input-group-addon"><i class="fa fa-money" ></i></span>
									</div>
								</div>
							</td>
						</tr>
						<tr>
							<td>
								<div class="form-group col-sm-8" style="margin-bottom: 0px !important; padding: 0px !important;">
									<div class="input-group" style="float: left;width: 100%;">
										<textarea name="txtnote" class="form-control"
											 placeholder="Ghi chú" style="height: 88px;"> </textarea>
									</div>
								</div>
								<div class="form-group col-sm-4" style="margin-bottom: 0px !important;padding-right: 0px !important;">
									<button class="btn btn-danger" style="float: right;width: 45%;height: 88px;" onclick="makePayment();">Trả nợ </button>
									<button class="btn btn-primary" style="float: right;width: 45%;height: 88px;margin-right: 5%;" onclick="estimatePayment();">Xem trước</button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
		<input type="hidden" id="hd_type" value="cusPayment" name="type">
		<input type="hidden" value="" id="hd_payment_cus_id" name="hd_payment_cus_id">
		<input type="hidden" value="" id="hd_cus_amount_payment" name="hd_cus_amount_payment">
	</form>