<div class="row" style="margin-top: 18%;" >

<div class="col-md">
	<div class="alert alert-info fade in nomargin" >
		<div style="margin-left: 26%;">
			<h2>EverEduシステムへようこそ！</h2>
			<p><i class="glyphicon glyphicon-chevron-down"></i> お好きなコースを検索</p>
			<p><i class="glyphicon glyphicon-chevron-down"></i> 結果のリストを確認してください</p>
			<p><i class="glyphicon glyphicon-chevron-down"></i> 詳細にコースの内容を表示するには、コースのご興味を選択</p>
			<p><i class="glyphicon glyphicon-chevron-down"></i> コースを開始するためのボタンをクリックしましょう。</p>
			<p><i class="glyphicon glyphicon-chevron-down"></i> より</p>
			<!-- <a href="/slide"><p>
				<button class="btn btn-info" type="button" onclick="window.location.href='/search-mentor'"> <i class="glyphicon glyphicon-search"></i> ここから ..</button></p>
			</a> -->
		</div>
	</div>
</div>

</div>