<div class="contentpanel" style="max-width: 98%; margin-top: 15%;">

<div id="timeline-list" >

{% for ls in lsCourse %}
	<!-- start block -->
	<div class="col-xs-6 col-sm-6 col-md-6">
	
		<div class="people-item">
			<div class="">
				<div class="">
					<div class="btn-group pull-right">
						<a
							href="/studylog"><button
								type="button" class="btn btn-primary">StudyLog</button></a>
					</div>
					<a
						href="course-detail?course_id={{ ls.id }}&user_id={{ ls.author_id }}"><h4
							class="person-name">{{ ls.name }}</h4></a>
					<ul class="blog-meta">
						<li>Course Start: {{ls.from_date|date:'Y-M-d'}}</li>
						<li>Duration: {{ ls.duration }} - {{ls.duration_type}}</li>
					</ul>
				</div>

				<div class="media-body">
					<ul class="social-list">
						<div>

							
							<div class="table-responsive">
								<table class="table table-hover table-bordered mb30">
									<tbody>
										<tr>
											<th
												style="width: 40%; text-align: center; background-color: #1CAF9A; color: #fff">Name</th>
											<th
												style="width: 60%; text-align: center; background-color: #1CAF9A; color: #fff">Description</th>
										</tr>
									</tbody>
									{% for mt in ls.lsmt %}
									<tbody>
										
										<tr
											onclick="document.location = 'course-detail?course_id=538720845b4b6593bfe11fb0&amp;user_id=53833c3430635f163c51a5d5';"
											style="cursor: hand;">
											<td>{{mt.name}}</td>
											<td>{{mt.description}}</td>
										</tr>
									</tbody>
									{% endfor %}
								</table>
							</div>
						</div>

					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- end block -->
	
{% endfor %}
</div>
</div>