<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.png" type="image/png">

<title>HỆ THỐNG QUẢN LÝ CÔNG NỢ</title>

<link href="css/bootstrap-social.css" rel="stylesheet">
<link href="css/style.default.css" rel="stylesheet">
<link href="css/ase-style.css" rel="stylesheet">
<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="signin">

	<!-- Preloader -->
	<div id="preloader">
		<div id="status">
			<i class="fa fa-spinner fa-spin"></i>
		</div>
	</div>

	<section>

		<div class="signuppanel">

			<div class="row">

				<div class="col-md-6">

					<div class="signup-info">

						<div class="mb20"></div>

						<h3>
							<strong>Tại sao nên chọn:</strong>
						</h3>
						<div class="mb20"></div>

						<div class="feat-list">
							<i class="fa fa-wrench"></i>
							<h4 class="text-success">Lợi ích về chi phí:</h4>
							<p>Miễn phí hoàn toàn 6 tháng đầu tiên; </p>
							<p>Thuê dịch vụ chỉ 1 triệu đồng / 1 năm</p>
						</div>

						<div class="feat-list">
							<i class="fa fa-wrench"></i>
							<h4 class="text-success">Kết nối mọi lúc - Mọi nơi</h4>
							<p>Kết nối với máy tính qua internet</p>
							<p>Kết nối với thiết bị di động qua 3G</p>
						</div>

						<div class="feat-list mb20">
							<i class="fa fa-wrench"></i>
							<h4 class="text-success">Công nghệ hiện đại</h4>
							<p>Ứng dụng mô hình điện toán đám mây</p>
							<p>Dịch vụ chạy trên máy chủ của Mỹ</p>
						</div>

						<div class="feat-list mb20">
							<i class="fa fa-wrench"></i>
							<h4 class="text-success">An Toàn</h4>
							<p>An toàn và bảo mật theo tiêu chuẩn của Mỹ</p>
						</div>
						
						<div class="feat-list mb20">
							<i class="fa fa-wrench"></i>
							<h4 class="text-success">Nâng cấp thường xuyên</h4>
							<p>Nâng cấp thường xuyên</p>
						</div>
						
						

					</div>
					<!-- signup-info -->

				</div>
				<!-- col-sm-6 -->

				<div class="col-md-6">

					<form class="form" method="post" novalidate="novalidate" id="formsignup" >
						{% csrf_token %}
						<h3 class="nomargin" style="text-align: center;">ĐĂNG KÝ THÔNG TIN</h3>
						
						<p class="mt5 mb20">
							Đã có tài khoản ? <a href="signin"><strong>Đăng Nhập</strong></a>
						</p>
						{% if error_message %}
							<div class="row mb10">
								<label for="" class="error">{{error_message}}</label>
							</div>
						{% endif %} 												
						<label class="control-label">Họ Tên</label>
						<div class="row mb10">
							<div class="col-sm-6">
								<input name="txtFirstName" type="text" class="form-control" placeholder="Họ" value="{{firstname}}" required=""/>
							</div>
							<div class="col-sm-6">
								<input name="txtLastName" type="text" class="form-control" placeholder="Tên" value="{{lastname}}" required=""/>
							</div>
						</div>

						<div class="mb10">
							<label class="control-label">Email</label> 
							<input name="txtEmail" placeholder="Email" type="email"  class="form-control" value="{{mail}}" required=""/>
						</div>
						<div class="mb10">
							<label class="control-label">Tên đăng nhập</label> 
							<input name="txtUserName" placeholder="Tên đăng nhập hệ thống" type="text"  class="form-control" value="{{username}}" required=""/>
						</div>
						<div class="mb10">
							<label class="control-label">Mật khẩu</label> 
							<input name="txtPassWord" placeholder="Mật khẩu" type="password" class="form-control" value="{{password}}" required=""/>
						</div>
						<br />
						
						<button class="btn btn-success btn-block" onclick="validatesignup();">ĐĂNG KÝ</button>
					</form>
					
					
				</div>
				<!-- col-sm-6 -->

			</div>
			<!-- row -->

		</div>
		<!-- signuppanel -->

	</section>


	<script src="js/jquery-1.10.2.min.js"></script>
	<script src="js/jquery-migrate-1.2.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/modernizr.min.js"></script>
	<script src="js/retina.min.js"></script>
	<script src="js/jquery.validate.min.js"></script>
	<script src="js/chosen.jquery.min.js"></script>

	<script src="js/custom.js"></script>
	<script>
	function validatesignup()
	{
		var $valid = jQuery('#formsignup').valid();
		if(!$valid) {
			$validator.focusInvalid();
			return false;
		 }
	}
	</script>
</body>
</html>
