<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.png" type="image/png">

<title>HỆ THỐNG QUẢN LÝ CÔNG NỢ</title>

<link href="css/style.default.css" rel="stylesheet">
<link href="css/ase-style.css" rel="stylesheet">
<link href="css/bootstrap-social.css" rel="stylesheet">

<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <script src="js/respond.min.js"></script>
  <![endif]-->
</head>

<body class="" style="background: #d6d6d6">

	<section>

		<div class="">

			<div class="">
				<div class="col-md-7">
					<img alt="" src="images/background/5.jpg">
				</div>
				<!-- col-sm-7 -->

				<div class="col-md-4" style="margin-top: 12%;">
					<form method="POST">
						{% csrf_token %}
						<h3><i class="fa fa-edit"></i> DMS-DEBIT MANAGEMENT SYSTEM</h3>
						<p class="mt5 mb20" style="text-align: center;">HỆ THỐNG QUẢN LÝ CÔNG NỢ</p>

						<input type="text" name="txtUserName" class="form-control uname" placeholder="Username" value="{{username}}"/> 
						<input type="password" name="txtPassWord" class="form-control pword" placeholder="Password" value="{{password}}"/>
							<!-- <a href="#"><small>Forgot Your Password?</small></a> -->
							Bạn chưa có tài khoản？ <strong><a href="signup">Đăng ký mới</a></strong> 
								{% if error_message %}
									<label for="" class="error">{{error_message}}</label>
								{% endif %} 
						<button class="btn btn-success btn-block">ĐĂNG NHẬP</button>
					</form>
				</div>
				<!-- col-sm-5 -->

			</div>
			<!-- row -->
		</div>
		<!-- signin -->

	</section>
	<script src="js/custom.js"></script>

</body>
</html>
