{% extends "myapp/base.html" %} {% block styles %}
<link href="css/student-home.css" rel="stylesheet">
<link rel="stylesheet" href="slider/demo.css" type="text/css" />
{% endblock %} {% block content %}
<div class="contentpanel" style="margin-top: 3%; min-height: 790px;">
	<!-- Place somewhere in the <body> of your page -->
	<div class="flexslider">
		<ul class="slides">
			<li><div class="div-slide" style="background-image: url('/images/slider/sl1.png');"><h1>ステップ 1: あなたは完全な情報を入力する必要が、[次へ]をクリックします</h1></div></li>
			<li><div class="div-slide" style="background-image: url('/images/slider/sl2.png');"><h1> ステップ 2: あなたは完全な情報を入力する必要がして、[次へまたは終了をクリック</h1></div></li>
			<li><div class="div-slide" style="background-image: url('/images/slider/sl3.png');"><h1> ステップ 3: あなたは完全な情報を入力する必要が、[完了]をクリックします</h1></div></li>
		</ul>
	</div>
</div>
{% endblock %} {% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="slider/jquery.flexslider.js"></script>

<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.cookies.js"></script>


<script src="js/masonry.pkgd.min.js"></script>
<script src="js/custom.js"></script>

<script type="text/javascript">
	$(window).load(function() {
		$('.flexslider').flexslider({
			animation : "slide",
			controlNav : false,
		});
	});
</script>
{% endblock scripts%}
