{% include 'myapp/sharesocial.html' %} 
{% include 'myapp/commentonLecture.html' %} 
{% include 'myapp/rating.html' %}

<div class="timeline-btns">
	<div class="pull-left">
		<a href="#" data-toggle="modal" data-target="#rating" class="tooltips"
			data-toggle="tooltip" title="Like"><i
			class="glyphicon glyphicon-heart"></i></a> <a href="#" class="tooltips"
			data-toggle="modal" data-target="#commentOnLecture"
			title="Add Comment"><i class="glyphicon glyphicon-comment"></i></a> <a
			data-toggle="modal" data-target="#sharesocial" href="#"
			class="tooltips" data-toggle="tooltip" title="Share"><i
			class="glyphicon glyphicon-share"></i></a>
	</div>


	<form name="frmrating" id="frmrating" class="frmrating" method="post">
		<input type="hidden" id="post_id" name="post_id" value="">
		<input type="hidden" name="posttype" value="5"> <!-- post type = 5; rate -->
		<input type="hidden" id="txtrate" name="txtrate">
		<span class="rating"> <input onclick="teststar('{{ post.id }}');" type="radio"
			class="rating-input" id="rating-input-{{ post.id }}-5"
			name="rating" value="5"> <label
			for="rating-input-{{ post.id }}-5" class="rating-star"></label> <input
			onclick="teststar();" type="radio" class="rating-input"
			id="rating-input-{{ post.id }}-4" name="rating" value="4">
			<label for="rating-input-{{ post.id }}-4" class="rating-star"></label>
			<input onclick="teststar();" type="radio" class="rating-input"
			id="rating-input-{{ post.id }}-3" name="rating" value="3">
			<label for="rating-input-{{ post.id }}-3" class="rating-star"></label>
			<input onclick="teststar();" type="radio" class="rating-input"
			id="rating-input-{{ post.id }}-2" name="rating" value="2">
			<label for="rating-input-{{ post.id }}-2" class="rating-star"></label>
			<input onclick="teststar();" type="radio" class="rating-input"
			id="rating-input-{{ post.id }}-1" name="rating" value="1">
			<label for="rating-input-{{ post.id }}-1" class="rating-star"></label>
		</span>
	</form>


	<div class="pull-right">
		<small class="text-muted">1 people like this</small>
	</div>
</div>

<style>
.rating {
	overflow: hidden;
	display: inline-block;
	font-size: 0;
}

.rating-input {
	float: right;
	width: 0;
	opacity: 0;
}

.rating:hover .rating-star:hover,.rating:hover .rating-star:hover ~
	.rating-star,.rating-input:checked ~ .rating-star {
	background-position: 0 0;
}

.rating-star,.rating:hover .rating-star {
	float: right;
	display: block;
	width: 16px;
	height: 16px;
	background: url('http://kubyshkin.ru/samples/star-rating/star.png') 0
		-16px;
}
</style>
