{% extends "myapp/base.html" %} 
{%block styles %}
<link href="css/mentor-course.css" rel="stylesheet">
{% endblock %}
{%block content %}
 <div class="tab-content mb30">
	<!-- start tab home -->
	<!-- Tab home display all post that exists in DB -->
	<div class="tab-pane active" id="home" style="background-color: #d8dbde;">
		<div class="contentpanel" style="min-height: 500px;">
		{% if has_curriculum %} 
			{% include 'myapp/listofcurriculumn.html' %}
		{% else %}
			{% if ismentor %}
				{% include 'myapp/createcourse.html' %}
			{% else %}
				{% include 'myapp/listofcurriculumn.html' %}
			{% endif %}
		{% endif %}
		</div>
	</div>
	<!-- end of tab home -->
	<div class="tab-pane " id="News" style="background-color: #d8dbde;">
		<!-- start tab home -->
	</div>
	<!-- end of content panel -->
</div>
<!-- end of tab home -->
<div class="tab-pane " id="Lectures" style="background-color: #d8dbde;">
</div>
<!-- end of tab Events -->
</div>
{% endblock content%} 

{% block scripts %}
<script src="js/masonry.pkgd.min.js"></script>
<script src="js/jquery-ui-1.10.3.min.js"></script>
<script src="js/chosen.jquery.min.js"></script>

<script src="js/bootstrap-wizard.min.js"></script>
<script src="js/jquery.validate.min.js"></script>
<script src="js/jquery.maskedinput.min.js"></script>
<script src="js/jquery.numeric.js"></script>
<script src="js/custom.js"></script>

<script>
  jQuery(window).load(function(){
  
    var container = document.querySelector('#bloglist');
    var msnry = new Masonry( container, {
      // options
      columnWidth: '.col-xs-6',
      itemSelector: '.col-xs-6'
    });
    
    // check on load
    if(jQuery(window).width() <= 480 )
        msnry.destroy();

    // check on resize
    jQuery(window).resize(function(){
        if(jQuery(this).width() <= 480 )
            msnry.destroy();
    });
	// Date Picker
	jQuery('#planstart').datepicker();
	jQuery('#planend').datepicker();
  // Basic Wizard
  jQuery('#basicWizard').bootstrapWizard();
  // Date Picker
  jQuery('#startdate').datepicker({});
  jQuery("#startdate").mask("99/99/9999");
  // Date Picker
  jQuery('#enddate').datepicker();
  jQuery("#enddate").mask("99/99/9999");
  $("#duration").numeric();
  // Progress Wizard
  $('#courseWizard').bootstrapWizard({
    'nextSelector': '.next',
    'previousSelector': '.previous',
    'lastSelector':'.submit',
    tabClass: 'nav nav-pills nav-justified nav-disabled-click',
    onTabClick: function(tab, navigation, index) {
      return false;
    },
    onNext: function(tab, navigation, index) {
    	if(document.getElementById('numberMaterialShow').value == "0")
    	{
    		var $valid = jQuery('#firstForm').valid();
    	    if(!$valid) {
    	    	$validator.focusInvalid();
    	   		return false;
    	     }
    	}
    	else
    	{
	   		if( index !=2 )
   	    	{
   	    		var $valid = jQuery('#firstForm').valid();
   	    	    if(!$valid) {
   	    	    	$validator.focusInvalid();
   	    	   		return false;
   	    	     }
   	    	      var $total = navigation.find('li').length;
   	    	      var $current = index+1;
   	    	      var $percent = ($current/$total) * 100;
   	    	      jQuery('#courseWizard').find('.progress-bar').css('width', $percent+'%');
   	    	   		document.getElementById('finish').style.display="inline";
   	    	}
	   		else
	   		{
	   			document.getElementById('finish').style.display="none";	
	   		}
    	}
    },
    onPrevious: function(tab, navigation, index) {
      var $total = navigation.find('li').length;
      var $current = index+1;
      var $percent = ($current/$total) * 100;
      jQuery('#courseWizard').find('.progress-bar').css('width', $percent+'%');
      
    },
    onTabShow: function(tab, navigation, index) {
      var $total = navigation.find('li').length;
      var $current = index+1;
      var $percent = ($current/$total) * 100;
      jQuery('#courseWizard').find('.progress-bar').css('width', $percent+'%');
      if($current >= $total) {
			$('#courseWizard').find('.pager .next').hide();
			$('#courseWizard').find('.pager .finish').show();
			$('#courseWizard').find('.pager .finish').removeClass('disabled');
		} else {
			$('#courseWizard').find('.pager .next').show();
			$('#courseWizard').find('.pager .finish').hide();
		}
		$('#courseWizard .finish').click(function() {
			jQuery('#firstForm').submit();
		});
		
    }
  });

	
  });
	function onMaterialFormSubmit()
	{
		var $valid = jQuery('#materialForm').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#materialForm').submit();
	};
	/* function onEditMaterialFormSubmit()
	{
		var $valid = jQuery('#editMaterialForm').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#editMaterialForm').submit();
	}; */
	function onActionFormSubmit()
	{
		var $valid = jQuery('#actionForm').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#actionForm').submit();
	};
	function onShowFormMaterial(curriculumId) 
	{
		$("#materialForm").find("#curriculum_id").val(curriculumId);
	};
	function onEditFormMaterial(curriculumId,materialId,materialName,materialUrl,materialDescription,materialType) 
	{
		//alert('studenthome');
		$("#editMaterialForm").find("#material_title").val(materialName);
		$("#editMaterialForm").find("#material_url").val(materialUrl);
		$("#editMaterialForm").find("#material_description").val(materialDescription);
		$("#editMaterialForm").find("#material_type").val(materialType);
		$("#editMaterialForm").find("#material_id").val(materialId);
	};
	function onEditMaterialFromSubmit()
	{
		//alert(1);
		var $valid = jQuery('#editMaterialForm').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#editMaterialForm').submit();
	};
	function onShowFormAction(curriculumId) 
	{
		$("#actionForm").find("#curriculum_id").val(curriculumId);
	};

	function onValidateSubmit()
	{
		var $valid = jQuery('#formjoincourse').valid();
		if(!$valid) 
		{
			$validator.focusInvalid();
			return false;
		}
		jQuery('#formjoincourse').submit();
	};
	function onJoinCourse(curriculumId) 
	{
		$("#formjoincourse").find("#curriculum_id").val(curriculumId);
	};

</script>
{% endblock scripts%}
