{% extends "myapp/base.html" %} 
{% block styles %}
<link href="css/student-home.css" rel="stylesheet">
<link rel="stylesheet" href="slider/flexslider.css" type="text/css" />
{% endblock %} 
{% block content %}
<div class="contentpanel" style="margin-top: 3%; min-height: 790px;">

{% include 'myapp/pnlSlide.html' %}

{% if lsCourse|length > 0  %}
	{% include 'myapp/pnlJoined.html' %}
{% else%}
	{% include 'myapp/pnlHelp.html' %}
{% endif%}

</div>
{% endblock %}

{% block scripts %}
<script src="js/jquery-1.10.2.min.js"></script>
<script src="js/jquery-migrate-1.2.1.min.js"></script>
<script src="js/modernizr.min.js"></script>
<script src="js/retina.min.js"></script>
<script src="slider/jquery.flexslider.js"></script>

<script src="js/jquery.sparkline.min.js"></script>
<script src="js/jquery.cookies.js"></script>


<script src="js/masonry.pkgd.min.js"></script>
<script src="js/custom.js"></script>

<script type="text/javascript">
 jQuery(window).load(function(){


	var container = document.querySelector('#timeline-list');
	var msnry = new Masonry( container, {
	// options
	columnWidth: '.col-xs-6',
	itemSelector: '.col-xs-6'
	});

	// check on load
	if(jQuery(window).width() <= 640 )
		msnry.destroy();

	// check on resize
	jQuery(window).resize(function(){
	if(jQuery(this).width() <= 640 )
		msnry.destroy();
	});

	$('.flexslider').flexslider({
	animation: "slide",
	controlNav: false,
	});

});
</script>
{% endblock scripts%}
