<div class="panel-body">
				<div class="table-responsive">
					<table class="table table-email">
						<tbody>
							<tr class="unread">
								<td><a href="#" class="trash"><i
										class="glyphicon glyphicon-ok"></i></a></td>
								<td><a href="#" class="trash"><i
										class="glyphicon glyphicon-trash"></i></a></td>
								<td>
									<div class="media">
										<a href="#" class="pull-left" style="width: 45px;height: 45px;"> 
										<img alt="" src="images/photos/b1.jpg" style="width: 35px;height: 35px;">
										</a>
										<div class="media-body">
											<span class="media-meta pull-right">Today at 7:30am</span>
											<h4 class="text-primary">Zaham Sindilmaca</h4>
											<small class="text-muted"></small>
											<p class="email-summary">
												<strong>UI Status</strong> Ut enim ad minim veniam, quis
												nostrud exercitation...
											</p>
										</div>
									</div>
								</td>
							</tr>
							<tr>
								<td><a href="#" class="trash"><i
										class="glyphicon glyphicon-ok"></i></a></td>
								<td><a href="#" class="trash"><i
										class="glyphicon glyphicon-trash"></i></a></td>
								<td>
									<div class="media">
										<a href="#" class="pull-left" style="width: 45px;height: 45px;"> 
										<img alt="" src="images/photos/b2.jpg" style="width: 35px;height: 35px;">
										</a>
										<div class="media-body">
											<span class="media-meta pull-right">Jan 12 at 5:30am</span>
											<h4 class="text-primary">Venro Leonga</h4>
											<small class="text-muted"></small>
											<p class="email-summary">
												<strong>Mobile Banking Transaction</strong> Ut enim ad minim
												veniam, quis nostrud exercitation...
											</p>
										</div>
									</div>
								</td>
							</tr>

							<tr>
								<td><a href="#" class="trash"><i
										class="glyphicon glyphicon-ok"></i></a></td>
								<td><a href="#" class="trash"><i
										class="glyphicon glyphicon-trash"></i></a></td>
								<td>
									<div class="media">
										<a href="#" class="pull-left" style="width: 45px;height: 45px;"> 
										<img alt="" src="images/photos/b3.jpg" style="width: 35px;height: 35px;">
										</a>
										<div class="media-body">
											<span class="media-meta pull-right">Jan 12 at 5:30am</span>
											<h4 class="text-primary">Yanda Cerona</h4>
											<small class="text-muted"></small>
											<p class="email-summary">
												<strong>Last Chance For Insurance</strong> Ut enim ad minim
												veniam, quis nostrud exercitation...
											</p>
										</div>
									</div>
								</td>
							</tr>



						</tbody>
					</table>
				</div>


	<div class="tinystat mr20">
		<div id="sparkline" class="chart mt5">
		<img alt=""	src="images/chart10.jpg" class="thumbnail media-object"  style="width: 60px;height: 60px;">
		</div>
		<div class="datainfo">
			<span class="text-muted">Total Sales</span>
			<h4>$201</h4>
		</div>
	</div>
	<!-- tinystat -->

	<div class="tinystat mr20">
		<div id="sparkline2" class="chart mt5">
		<img alt=""	src="images/chart09.jpg" class="thumbnail media-object"  style="width: 60px;height: 60px;">
		</div>
		<div class="datainfo">
			<span class="text-muted">Avg Sales</span>
			<h4>$16,850</h4>
		</div>
	</div>
	<!-- tinystat -->

	<div class="tinystat mr20">
		<div id="sparkline3" class="chart mt5">
		<img alt=""	src="images/chart07.jpg" class="thumbnail media-object"  style="width: 60px;height: 60px;">
		</div>
		<div class="datainfo">
			<span class="text-muted">Avg Order</span>
			<h4>23,001,090</h4>
		</div>
	</div>
	<!-- tinystat -->

	<div class="tinystat mr20">
		<div id="sparkline" class="chart mt5">
		<img alt=""	src="images/chart10.jpg" class="thumbnail media-object"  style="width: 60px;height: 60px;">
		</div>
		<div class="datainfo">
			<span class="text-muted">Total Sales</span>
			<h4>$630,201</h4>
		</div>
	</div>
	<!-- tinystat -->

	<div class="tinystat mr20">
		<div id="sparkline2" class="chart mt5">
		<img alt=""	src="images/chart12.jpg" class="thumbnail media-object"  style="width: 60px;height: 60px;">
		</div>
		<div class="datainfo">
			<span class="text-muted">Avg Sales</span>
			<h4>$106,850</h4>
		</div>
	</div>
	<!-- tinystat -->

	<div class="tinystat mr20">
		<div id="sparkline3" class="chart mt5">
		<img alt=""	src="images/chart11.jpg" class="thumbnail media-object"  style="width: 60px;height: 60px;">
		</div>
		<div class="datainfo">
			<span class="text-muted">Avg Order</span>
			<h4>2,001,090</h4>
		</div>
	</div>
	<!-- tinystat -->

</div>
