
<li>
	<div class="btn-group">
		<button class="btn btn-default dropdown-toggle tp-icon"
			data-toggle="modal" data-target="#alertnewmessage">
			<i class="glyphicon glyphicon-heart"></i> <span class="badge">8</span>
		</button>
		{% include 'myapp/alertnewmessage.html' %}
	</div>
</li>

<li>
	<button class="btn btn-default dropdown-toggle tp-icon"
		data-toggle="dropdown">
		<i class="glyphicon glyphicon-star-empty"></i> <span class="badge">5</span>
	</button>
</li>

<li>
	<button class="btn btn-default dropdown-toggle tp-icon"
		data-toggle="modal" data-target="#alertnewshopping">
		<i class="glyphicon glyphicon-shopping-cart"></i> <span class="badge">8</span>
	</button> {% include 'myapp/alertnewshopping.html' %}
</li>

<li>
	<button class="btn btn-default dropdown-toggle tp-icon"
		data-toggle="modal" data-target="#alertnewrequest">
		<i class="glyphicon glyphicon-user"></i> <span class="badge">8</span>
	</button> {% include 'myapp/alertnewrequest.html' %}
</li>

<li>
	<button class="btn btn-default dropdown-toggle tp-icon"
		data-toggle="dropdown">
		<i class="glyphicon glyphicon-saved"></i> <span class="badge">1</span>
	</button>
</li>

<li>
	<button class="btn btn-default dropdown-toggle tp-icon"
		data-toggle="dropdown">
		<i class="glyphicon glyphicon-share"></i> <span class="badge">1</span>
	</button>
</li>

<li>
	<button class="btn btn-default dropdown-toggle tp-icon"
		data-toggle="dropdown">
		<i class="glyphicon glyphicon-envelope"></i> <span class="badge">1</span>
	</button>
</li>
