<html>
<head>
<script type="text/javascript" src="js/ajax.js"></script>
<script>
$(document).ready(function () {
    alert('pl');
    $("#testForm").submit(function (event) {
        alert(dcm);
        event.preventDefault();
        $.ajax({
            type: "POST",
            url: "/test/",
            data: {
                'arbitrary-data': 'this is arbitrary data',
                'some-form-field': $("myform input:first").val(), // from form
                'background-color': s$("body").css("background-color")
                // all of this data is submitted via POST to your view.
                // in django, request.POST['background-color'] 
            },
            success: function (data) {
                alert(data);
                $("body").append(data);
            }
        });
    });
    return false;
});
$(document).ajaxSend(function(event, xhr, settings) {
    function getCookie(name) {
    var cookieValue = null;
    if (document.cookie && document.cookie != '') {
        var cookies = document.cookie.split(';');
        for (var i = 0; i < cookies.length; i++) {
        var cookie = jQuery.trim(cookies[i]);
        // Does this cookie string begin with the name we want?
        if (cookie.substring(0, name.length + 1) == (name + '=')) {
            cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
            break;
        }
        }
    }
    return cookieValue;
    }
    function sameOrigin(url) {
    // url could be relative or scheme relative or absolute
    var host = document.location.host; // host + port
    var protocol = document.location.protocol;
    var sr_origin = '//' + host;
    var origin = protocol + sr_origin;
    // Allow absolute or scheme relative URLs to same origin
    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
        // or any other URL that isn't scheme relative or absolute i.e relative.
        !(/^(\/\/|http:|https:).*/.test(url));
    }
    function safeMethod(method) {
    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }

    if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
    xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
    }
});
</script>
</head>
<body>
	<form id="testForm" action="/test/" method="post">
		{% csrf_token %} <input type="submit" id="go" name="go" value="Go!">
	</form>
</body>
</html>